<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mapper.slight.equipmentMapper">
	
	<select id="getEquipmentCnt" resultType="int" parameterType="hashMap">
		<![CDATA[
			SELECT COUNT(*)
			FROM GY_LIGHT A
			WHERE
				1=1
				AND A.LIGHT_GUBUN <> '9'
		]]>
			<if test="lightType != null and lightType != '' ">
				AND A.LIGHT_TYPE = #{lightType}	
			</if>
			<if test="searchArea != null and searchArea != '' ">
				AND HJ_DONG_CD = #{searchArea}
			</if>
			<if test="searchLampGubun != null and searchLampGubun != '' ">
				AND LIGHT_GUBUN = #{searchLampGubun}
			</if>
			<if test="searchType != null and searchType != '' ">
				<choose>
					<when test="searchType == 1">
						AND LIGHT_NO LIKE '%'||#{keyword}||'%'
					</when>
					<when test="searchType == 2">
						AND ADDRESS LIKE '%'||#{keyword}||'%'
					</when>
					<when test="searchType == 3">
						AND NEW_ADDRESS LIKE '%'||#{keyword}||'%'
					</when>
					<when test="searchType == 4">
						AND STAND_CD = #{stand_cd}
					</when>
					<when test="searchType == 5">
						AND LAMP2_CD = #{lamp2_cd}
					</when>
					<when test="searchType == 6">
						AND LAMP3_CD = #{lamp3_cd}
					</when>
					<when test="searchType == 7">
						AND KEPCO_CUST_NO LIKE '%'||#{keyword}||'%'
					</when>
				</choose>
			</if>
	</select>
	
	<select id="getEquipmentList" resultType="hashMap" parameterType="hashMap">
		<![CDATA[
			SELECT T1.*
			FROM (
				SELECT A.*,
					F_GY_DATA_CODE_NM('05', LIGHT_GUBUN) AS LIGHT_GUBUN_NM,
					F_GY_DATA_CODE_NM('06', HJ_DONG_CD) AS HJ_DONG_NM,
					F_GY_DATA_CODE_NM('06', BJ_DONG_CD) AS BJ_DONG_NM,
					F_GY_DATA_CODE_NM('08', STAND_CD) AS STAND_NM,
					F_GY_DATA_CODE_NM('09', LAMP1_CD) AS LAMP1_NM,
					F_GY_DATA_CODE_NM('10', LAMP2_CD) AS LAMP2_NM,
					F_GY_DATA_CODE_NM('11', LAMP3_CD) AS LAMP3_NM,
					F_GY_DATA_CODE_NM('12', KEPCO_CD) AS KEPCO_NM,
					F_GY_DATA_CODE_NM('15', ONOFF_CD) AS ONOFF_NM,
					F_GY_DATA_CODE_NM('16', WORK_CD) AS WORK_NM,
					F_GY_DATA_CODE_NM('14', REPAIR_CD) AS REPAIR_NM,
					F_GY_DATA_CODE_NM('29', AUTO_JUM_TYPE1_CD) AS AUTO_JUM_TYPE1_NM
				FROM GY_LIGHT A
				WHERE
					1=1
					AND A.LIGHT_GUBUN <> '9'
			]]>
					<if test="lightType != null and lightType != '' ">
						AND A.LIGHT_TYPE = #{lightType}	
					</if>
					<if test="searchArea != null and searchArea != '' ">
						AND HJ_DONG_CD = #{searchArea}
					</if>
					<if test="searchLampGubun != null and searchLampGubun != '' ">
						AND LIGHT_GUBUN = #{searchLampGubun}
					</if>
					<if test="searchType != null and searchType != '' ">
						<choose>
							<when test="searchType == 1">
								AND LIGHT_NO LIKE '%'||#{keyword}||'%'
							</when>
							<when test="searchType == 2">
								AND ADDRESS LIKE '%'||#{keyword}||'%'
							</when>
							<when test="searchType == 3">
								AND NEW_ADDRESS LIKE '%'||#{keyword}||'%'
							</when>
							<when test="searchType == 4">
								AND STAND_CD = #{stand_cd}
							</when>
							<when test="searchType == 5">
								AND LAMP2_CD = #{lamp2_cd}
							</when>
							<when test="searchType == 6">
								AND LAMP3_CD = #{lamp3_cd}
							</when>
							<when test="searchType == 7">
								AND KEPCO_CUST_NO LIKE '%'||#{keyword}||'%'
							</when>
						</choose>
					</if>
			<![CDATA[
				ORDER BY LIGHT_NO
			) T1
			LIMIT #{limit} OFFSET #{offset}
		]]>
	</select>
	
	<select id="getEquipmentDet" parameterType="hashMap" resultType="hashMap">
		SELECT A.*
					   , CASE WHEN twin_light = 'Y' THEN '예' ELSE '아니오' END AS twin_light_nm
					   , F_GY_DATA_CODE_NM('05', LIGHT_GUBUN) AS LIGHT_GUBUN_NM
					   , F_GY_DATA_CODE_NM('06', HJ_DONG_CD) AS HJ_DONG_NM
					   , F_GY_DATA_CODE_NM('06', BJ_DONG_CD) AS BJ_DONG_NM
					   , F_GY_DATA_CODE_NM('08', STAND_CD) AS STAND_NM
					   , F_GY_DATA_CODE_NM('09', LAMP1_CD) AS LAMP1_NM
					   , F_GY_DATA_CODE_NM('10', LAMP2_CD) AS LAMP2_NM
					   , F_GY_DATA_CODE_NM('11', LAMP3_CD) AS LAMP3_NM
					   , F_GY_DATA_CODE_NM('12', KEPCO_CD) AS KEPCO_NM
					   , F_GY_DATA_CODE_NM('15', ONOFF_CD) AS ONOFF_NM
					   , F_GY_DATA_CODE_NM('16', WORK_CD) AS WORK_NM
					   , F_GY_DATA_CODE_NM('14', REPAIR_CD) AS REPAIR_NM
					   , F_GY_DATA_CODE_NM('29', AUTO_JUM_TYPE1_CD) AS AUTO_JUM_TYPE1_NM
					   , F_GY_DATA_CODE_NM('30', LAMP1_GUBUN) AS LAMP1_GUBUN_NM
		FROM GY_LIGHT A
		WHERE
			LIGHT_NO = #{light_no}
			AND LIGHT_TYPE = #{light_type}
			<if test="par_hj_dong != null and par_hj_dong != '' ">
				AND HJ_DONG_CD = #{par_hj_dong}
			</if>
	</select>
	
	<select id="getDetRepirList" parameterType="hashMap" resultType="hashMap">
		SELECT A.REPAIR_NO
			, TO_CHAR(TO_DATE(B.REPAIR_DATE, 'YYYY.MM.DD'), 'YYYY.MM.DD') AS REPAIR_DATE
			, B.REPAIR_DESC
			, F_GY_DATA_CODE_NM('03', A.PROGRESS_STATUS) AS PROGRESS_NAME
			, F_GY_DATA_CODE_NM('01', A.TROUBLE_CD) AS TROUBLE_NAME
			, F_GY_DATA_CODE_NM('12', A.DONG) AS DONG_NM
			, F_GY_DATA_CODE_NM('03', A.TROUBLE_TYPE) AS TROUBLE_TYPE_NM
		FROM GY_LIGHT_REPAIR  A, GY_LIGHT_REPAIR_PART B
		WHERE A.REPAIR_NO=B.REPAIR_NO 
			AND A.LIGHT_NO = #{light_no}
		ORDER BY A.REPAIR_NO DESC
	</select>
	
	<select id="getChkLightNo" parameterType="hashMap" resultType="Int">
		SELECT COUNT(*) AS CNT
		FROM GY_LIGHT
		WHERE
			TRIM(LIGHT_NO) = TRIM(#{light_no})
	</select>
	
	<select id="getEquipHJStaitstice" parameterType="hashMap" resultType="java.util.LinkedHashMap">
		SELECT '' AS IDX 
					   , HJ_DONG_NM
					   , COUNT(*) AS TOTAL_CNT
					   , SUM(A.CNT_1) AS "CNT_1"
					   , SUM(A.CNT_2) AS "CNT_2"
					   , SUM(A.CNT_3) AS "CNT_3"
		FROM (
			SELECT F_GY_DATA_CODE_NM('06', HJ_DONG_CD) AS HJ_DONG_NM
				   , LIGHT_TYPE
				   , HJ_DONG_CD
				   , COALESCE(CASE WHEN LIGHT_GUBUN = '1' THEN 1 END, 0) AS CNT_1
				   , COALESCE(CASE WHEN LIGHT_GUBUN = '2' THEN 1 END, 0) AS CNT_2
				   , COALESCE(CASE WHEN LIGHT_GUBUN = '3' THEN 1 END, 0) AS CNT_3
			FROM GY_LIGHT
		) A
		WHERE
			1=1
			<if test="light_type != null and light_type != '' ">
				AND LIGHT_TYPE = #{light_type}
			</if>
		GROUP BY HJ_DONG_NM
		ORDER BY HJ_DONG_NM
	</select>
	
	<select id="getEquipStandStaitstice" parameterType="hashMap" resultType="java.util.LinkedHashMap">
		SELECT '' AS IDX 
					   , HJ_DONG_NM
					   , SUM(A.CNT_1) AS "CNT_1" 
					   , SUM(A.CNT_2) AS "CNT_2" 
					   , SUM(A.CNT_3) AS "CNT_3" 
					   , SUM(A.CNT_4) AS "CNT_4" 
					   , SUM(A.CNT_5) AS "CNT_5" 
					   , SUM(A.CNT_6) AS "CNT_6" 
					   , SUM(A.CNT_7) AS "CNT_7" 
					   , SUM(A.CNT_8) AS "CNT_8" 
					   , SUM(A.CNT_9) AS "CNT_9" 
					   , SUM(A.CNT_10) AS "CNT_10"
					   , SUM(A.CNT_11) AS "CNT_11"
					   , SUM(A.CNT_12) AS "CNT_12"
				       , COUNT(*) AS TOTAL_CNT
		FROM (
			SELECT F_GY_DATA_CODE_NM('06', HJ_DONG_CD) AS HJ_DONG_NM
				   , LIGHT_TYPE
				   , COALESCE((CASE WHEN STAND_CD = '01' THEN 1 END), 0) AS CNT_1
				   , COALESCE((CASE WHEN STAND_CD = '02' THEN 1 END), 0) AS CNT_2
				   , COALESCE((CASE WHEN STAND_CD = '03' THEN 1 END), 0) AS CNT_3
				   , COALESCE((CASE WHEN STAND_CD = '04' THEN 1 END), 0) AS CNT_4
				   , COALESCE((CASE WHEN STAND_CD = '05' THEN 1 END), 0) AS CNT_5
				   , COALESCE((CASE WHEN STAND_CD = '06' THEN 1 END), 0) AS CNT_6
				   , COALESCE((CASE WHEN STAND_CD = '07' THEN 1 END), 0) AS CNT_7
				   , COALESCE((CASE WHEN STAND_CD = '08' THEN 1 END), 0) AS CNT_8
				   , COALESCE((CASE WHEN STAND_CD = '09' THEN 1 END), 0) AS CNT_9
				   , COALESCE((CASE WHEN STAND_CD = '10' THEN 1 END), 0) AS CNT_10
				   , COALESCE((CASE WHEN STAND_CD = '11' THEN 1 END), 0) AS CNT_11
				   , COALESCE((CASE WHEN STAND_CD = '12' THEN 1 END), 0) AS CNT_12
			FROM GY_LIGHT
		) A
		WHERE
			1=1
			<if test="light_type != null and light_type != '' ">
				AND LIGHT_TYPE = #{light_type}
			</if>
		GROUP BY HJ_DONG_NM
		ORDER BY HJ_DONG_NM
	</select>
	
	<select id="getEquipLamp2Staitstice" parameterType="hashMap" resultType="java.util.LinkedHashMap">
		SELECT '' AS IDX 
					   , HJ_DONG_NM
					   , SUM(A.CNT_1) AS "CNT_1" 
					   , SUM(A.CNT_2) AS "CNT_2" 
					   , SUM(A.CNT_3) AS "CNT_3" 
					   , SUM(A.CNT_4) AS "CNT_4" 
				       , COUNT(*) AS TOTAL_CNT
		FROM (
			SELECT F_GY_DATA_CODE_NM('06', HJ_DONG_CD) AS HJ_DONG_NM
				   , LIGHT_TYPE
				   , COALESCE((CASE WHEN STAND_CD = '01' THEN 1 END), 0) AS CNT_1
				   , COALESCE((CASE WHEN STAND_CD = '02' THEN 1 END), 0) AS CNT_2
				   , COALESCE((CASE WHEN STAND_CD = '03' THEN 1 END), 0) AS CNT_3
				   , COALESCE((CASE WHEN STAND_CD = '04' THEN 1 END), 0) AS CNT_4
			FROM GY_LIGHT
		) A
		WHERE
			1=1
			<if test="light_type != null and light_type != '' ">
				AND LIGHT_TYPE = #{light_type}
			</if>
		GROUP BY HJ_DONG_NM
		ORDER BY HJ_DONG_NM
	</select>
	
	<select id="getEquipLamp3Staitstice" parameterType="hashMap" resultType="java.util.LinkedHashMap">
		SELECT '' AS IDX 
					   , HJ_DONG_NM
					   , SUM(A.CNT_1) AS "CNT_1" 
					   , SUM(A.CNT_2) AS "CNT_2" 
					   , SUM(A.CNT_3) AS "CNT_3" 
					   , SUM(A.CNT_4) AS "CNT_4" 
					   , SUM(A.CNT_5) AS "CNT_5" 
					   , SUM(A.CNT_6) AS "CNT_6" 
					   , SUM(A.CNT_7) AS "CNT_7" 
					   , SUM(A.CNT_8) AS "CNT_8" 
					   , SUM(A.CNT_9) AS "CNT_9" 
					   , SUM(A.CNT_10) AS "CNT_10"
				       , COUNT(*) AS TOTAL_CNT
		FROM (
			SELECT F_GY_DATA_CODE_NM('06', HJ_DONG_CD) AS HJ_DONG_NM
				   , LIGHT_TYPE
				   , COALESCE((CASE WHEN STAND_CD = '01' THEN 1 END), 0) AS CNT_1
				   , COALESCE((CASE WHEN STAND_CD = '02' THEN 1 END), 0) AS CNT_2
				   , COALESCE((CASE WHEN STAND_CD = '03' THEN 1 END), 0) AS CNT_3
				   , COALESCE((CASE WHEN STAND_CD = '04' THEN 1 END), 0) AS CNT_4
				   , COALESCE((CASE WHEN STAND_CD = '05' THEN 1 END), 0) AS CNT_5
				   , COALESCE((CASE WHEN STAND_CD = '06' THEN 1 END), 0) AS CNT_6
				   , COALESCE((CASE WHEN STAND_CD = '07' THEN 1 END), 0) AS CNT_7
				   , COALESCE((CASE WHEN STAND_CD = '08' THEN 1 END), 0) AS CNT_8
				   , COALESCE((CASE WHEN STAND_CD = '09' THEN 1 END), 0) AS CNT_9
				   , COALESCE((CASE WHEN STAND_CD = '10' THEN 1 END), 0) AS CNT_10
			FROM GY_LIGHT
		) A
		WHERE
			1=1
			<if test="light_type != null and light_type != '' ">
				AND LIGHT_TYPE = #{light_type}
			</if>
		GROUP BY HJ_DONG_NM
		ORDER BY HJ_DONG_NM
	</select>
	
	<update id="updateEquipment" parameterType="hashMap">
		UPDATE GY_LIGHT
		SET
			OLD_LIGHT_NO = #{old_light_no}
			, HJ_DONG_CD = #{hj_dong_cd}
			, MGMT_NO = #{mgmt_no}
			, DOYEP_NO = #{doyep_no}
			, BDJ = #{bdj}
			, POLE_NO = #{pole_no}
			, LIGHT_GUBUN = #{light_gubun}
			, TWIN_LIGHT = #{twin_light}
			, LAMP1_CD = #{lamp1_cd}
			, LAMP1_CD2 = #{lamp1_cd2}
			, LAMP2_CD = #{lamp2_cd}
			, LAMP2_CD2 = #{lamp2_cd2}
			, LAMP3_CD = #{lamp3_cd}
			, LAMP3_CD2 = #{lamp3_cd2}
			, ONOFF_CD = #{onoff_cd}
			, STAND_CD = #{stand_cd}
			, KEPCO_CUST_NO = #{kepco_cust_no}
			, KEPCO_CD = #{kepco_cd}
			, WORK_CD = #{work_cd}
			, SET_YMD = #{set_ymd}
			, USE_LIGHT = #{use_light}
			, ADDRESS = #{address}
			, NEW_ADDRESS = #{new_address}
			, LAST_UPDATE = TO_CHAR(now(), 'yyyy-mm-dd')
		WHERE
			LIGHT_NO = #{light_no}
			AND LIGHT_TYPE = #{light_type}
	</update>
	
	<update id="deleteEquipment" parameterType="hashMap">
		UPDATE GY_LIGHT
		SET
			LIGHT_GUBUN = '9'
			, LAST_UPDATE = now()
		WHERE
			LIGHT_NO = #{light_no}
			AND LIGHT_TYPE = #{light_type}
	</update>
	
	<update id="updateGisEquipment" parameterType="hashMap">
		UPDATE GY_LIGHT
		SET
			HJ_DONG_CD = #{hj_dong_cd}
			, POLE_NO = #{pole_no}
			, LAMP2_CD = #{lamp2_cd}
			, LAMP3_CD = #{lamp3_cd}
			, KEPCO_CUST_NO = #{kepco_cust_no}
			, KEPCO_CD = #{kepco_cd}
			, USE_LIGHT = #{use_light}
			, ADDRESS = #{address}
			, NEW_ADDRESS = #{new_address}
			, LAST_UPDATE = now()
		WHERE
			LIGHT_NO = #{light_no}
			AND LIGHT_TYPE = #{light_type}
	</update>
	
	<insert id="insertGisEquipment" parameterType="hashMap">
		INSERT INTO GY_LIGHT (
			LIGHT_NO, LIGHT_TYPE, HJ_DONG_CD, LIGHT_GUBUN, LAMP2_CD
			, LAMP3_CD, POLE_NO, KEPCO_CUST_NO, KEPCO_CD, USE_LIGHT
			, MAP_X_POS_GL, MAP_Y_POS_GL, ADDRESS, NEW_ADDRESS
		)
		VALUES (
			#{light_no}, #{light_type}, #{hj_dong_cd}, '1', #{lamp2_cd}
			, #{lamp3_cd}, #{pole_no}, #{kepco_cust_no}, #{kepco_cd}, #{use_light}
			, #{mapPosX}, #{mapPosY}, #{address}, #{new_address}
		)
	</insert>
</mapper>