<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mapper.slight.equipmentMapper">
	
	<select id="getEquipmentCnt" resultType="int" parameterType="hashMap">
		<![CDATA[
			SELECT COUNT(*)
			FROM GY_LIGHT A
			WHERE
				1=1
				AND A.LIGHT_GUBUN <> '9'
		]]>
			<if test="lightType != null and lightType != '' ">
				AND A.LIGHT_TYPE = #{lightType}	
			</if>
			<if test="searchArea != null and searchArea != '' ">
				AND HJ_DONG_CD = #{searchArea}
			</if>
			<if test="searchLampGubun != null and searchLampGubun != '' ">
				AND LIGHT_GUBUN = #{searchLampGubun}
			</if>
			<if test="searchType != null and searchType != '' ">
				<choose>
					<when test="searchType == 1">
						AND LIGHT_NO LIKE '%'||#{keyword}||'%'
					</when>
					<when test="searchType == 2">
						AND ADDRESS LIKE '%'||#{keyword}||'%'
					</when>
					<when test="searchType == 3">
						AND NEW_ADDRESS LIKE '%'||#{keyword}||'%'
					</when>
					<when test="searchType == 4">
						AND STAND_CD = #{stand_cd}
					</when>
					<when test="searchType == 5">
						AND LAMP2_CD = #{lamp2_cd}
					</when>
					<when test="searchType == 6">
						AND LAMP3_CD = #{lamp3_cd}
					</when>
					<when test="searchType == 7">
						AND KEPCO_CUST_NO LIKE '%'||#{keyword}||'%'
					</when>
				</choose>
			</if>
	</select>
	
	<select id="getEquipmentList" resultType="hashMap" parameterType="hashMap">
		<![CDATA[
			SELECT T1.*
			FROM (
				SELECT A.*,
					F_GY_DATA_CODE_NM('05', LIGHT_GUBUN) AS LIGHT_GUBUN_NM,
					F_GY_DATA_CODE_NM('06', HJ_DONG_CD) AS HJ_DONG_NM,
					F_GY_DATA_CODE_NM('06', BJ_DONG_CD) AS BJ_DONG_NM,
					F_GY_DATA_CODE_NM('08', STAND_CD) AS STAND_NM,
					F_GY_DATA_CODE_NM('09', LAMP1_CD) AS LAMP1_NM,
					F_GY_DATA_CODE_NM('10', LAMP2_CD) AS LAMP2_NM,
					F_GY_DATA_CODE_NM('11', LAMP3_CD) AS LAMP3_NM,
					F_GY_DATA_CODE_NM('12', KEPCO_CD) AS KEPCO_NM,
					F_GY_DATA_CODE_NM('15', ONOFF_CD) AS ONOFF_NM,
					F_GY_DATA_CODE_NM('16', WORK_CD) AS WORK_NM,
					F_GY_DATA_CODE_NM('14', REPAIR_CD) AS REPAIR_NM,
					F_GY_DATA_CODE_NM('29', AUTO_JUM_TYPE1_CD) AS AUTO_JUM_TYPE1_NM
				FROM GY_LIGHT A
				WHERE
					1=1
					AND A.LIGHT_GUBUN <> '9'
			]]>
					<if test="lightType != null and lightType != '' ">
						AND A.LIGHT_TYPE = #{lightType}	
					</if>
					<if test="searchArea != null and searchArea != '' ">
						AND HJ_DONG_CD = #{searchArea}
					</if>
					<if test="searchLampGubun != null and searchLampGubun != '' ">
						AND LIGHT_GUBUN = #{searchLampGubun}
					</if>
					<if test="searchType != null and searchType != '' ">
						<choose>
							<when test="searchType == 1">
								AND LIGHT_NO LIKE '%'||#{keyword}||'%'
							</when>
							<when test="searchType == 2">
								AND ADDRESS LIKE '%'||#{keyword}||'%'
							</when>
							<when test="searchType == 3">
								AND NEW_ADDRESS LIKE '%'||#{keyword}||'%'
							</when>
							<when test="searchType == 4">
								AND STAND_CD = #{stand_cd}
							</when>
							<when test="searchType == 5">
								AND LAMP2_CD = #{lamp2_cd}
							</when>
							<when test="searchType == 6">
								AND LAMP3_CD = #{lamp3_cd}
							</when>
							<when test="searchType == 7">
								AND KEPCO_CUST_NO LIKE '%'||#{keyword}||'%'
							</when>
						</choose>
					</if>
			<![CDATA[
				ORDER BY LIGHT_NO
			) T1
			LIMIT #{limit} OFFSET #{offset}
		]]>
	</select>
	
	<select id="getEquipmentDet" parameterType="hashMap" resultType="hashMap">
		SELECT light_no
					   , light_type
					   , light_gubun
					   , old_light_no
					   , doyep_no
					   , mgmt_no
					   , TO_CHAR(TO_DATE(set_ymd, 'YYYYMMDD'), 'YYYY-MM-DD') AS set_ymd
					   , hj_dong_cd
					   , bj_dong_cd
					   , gs_no
					   , stand_cd
					   , lamp1_cd
					   , lamp2_cd
					   , lamp3_cd
					   , kepco_type
					   , kepco_cust_no
					   , kepco_cd
					   , onoff_cd
					   , work_cd
					   , address
					   , new_address
					   , repair_dt
					   , finish
					   , repair_name
					   , repair_cd
					   , repair_parts
					   , etc
					   , photo_file1
					   , photo_file2
					   , photo_file3
					   , photo_file4
					   , bdj
					   , elec_no
					   , pole_no
					   , mgmt_no_etc
					   , stand_cd_etc
					   , lamp1_cd_etc
					   , kepco_cd_etc
					   , onoff_cd_etc
					   , auto_jum_type1_cd
					   , lamp1_gubun
					   , twin_light
					   , cn_light_no
					   , lamp1_cd2
					   , lamp2_cd2
					   , lamp3_cd2
					   , use_light
					   , TO_CHAR(TO_DATE(A.SET_YMD, 'YYYYMMDD'), 'YYYY-MM-DD') AS SET_YMD
					   , CASE WHEN twin_light = 'Y' THEN '예' ELSE '아니오' END AS twin_light_nm
					   , F_GY_DATA_CODE_NM('05', LIGHT_GUBUN) AS LIGHT_GUBUN_NM
					   , F_GY_DATA_CODE_NM('06', HJ_DONG_CD) AS HJ_DONG_NM
					   , F_GY_DATA_CODE_NM('06', BJ_DONG_CD) AS BJ_DONG_NM
					   , F_GY_DATA_CODE_NM('08', STAND_CD) AS STAND_NM
					   , F_GY_DATA_CODE_NM('09', LAMP1_CD) AS LAMP1_NM
					   , F_GY_DATA_CODE_NM('10', LAMP2_CD) AS LAMP2_NM
					   , F_GY_DATA_CODE_NM('11', LAMP3_CD) AS LAMP3_NM
					   , F_GY_DATA_CODE_NM('12', KEPCO_CD) AS KEPCO_NM
					   , F_GY_DATA_CODE_NM('15', ONOFF_CD) AS ONOFF_NM
					   , F_GY_DATA_CODE_NM('16', WORK_CD) AS WORK_NM
					   , F_GY_DATA_CODE_NM('14', REPAIR_CD) AS REPAIR_NM
					   , F_GY_DATA_CODE_NM('29', AUTO_JUM_TYPE1_CD) AS AUTO_JUM_TYPE1_NM
					   , F_GY_DATA_CODE_NM('30', LAMP1_GUBUN) AS LAMP1_GUBUN_NM
		FROM GY_LIGHT A
		WHERE
			LIGHT_NO = #{light_no}
			AND LIGHT_TYPE = #{light_type}
			<if test="par_hj_dong != null and par_hj_dong != '' ">
				AND HJ_DONG_CD = #{par_hj_dong}
			</if>
	</select>
	
	<select id="getDetRepirList" parameterType="hashMap" resultType="hashMap">
		SELECT A.REPAIR_NO
			, TO_CHAR(TO_DATE(B.REPAIR_DATE, 'YYYY.MM.DD'), 'YYYY.MM.DD') AS REPAIR_DATE
			, B.REPAIR_DESC
			, F_GY_DATA_CODE_NM('03', A.PROGRESS_STATUS) AS PROGRESS_NAME
			, F_GY_DATA_CODE_NM('01', A.TROUBLE_CD) AS TROUBLE_NAME
			, F_GY_DATA_CODE_NM('12', A.DONG) AS DONG_NM
			, F_GY_DATA_CODE_NM('03', A.TROUBLE_TYPE) AS TROUBLE_TYPE_NM
		FROM GY_LIGHT_REPAIR  A, GY_LIGHT_REPAIR_PART B
		WHERE A.REPAIR_NO=B.REPAIR_NO 
			AND A.LIGHT_NO = #{light_no}
		ORDER BY A.REPAIR_NO DESC
	</select>
	
	<select id="getChkLightNo" parameterType="hashMap" resultType="Int">
		SELECT COUNT(*) AS CNT
		FROM GY_LIGHT
		WHERE
			TRIM(LIGHT_NO) = TRIM(#{light_no})
	</select>
	
	<select id="getEquipHJStaitstice" parameterType="hashMap" resultType="java.util.LinkedHashMap">
		SELECT '' AS IDX 
					   , HJ_DONG_NM
					   , COUNT(*) AS TOTAL_CNT
					   , SUM(A.CNT_1) AS "CNT_1"
					   , SUM(A.CNT_2) AS "CNT_2"
					   , SUM(A.CNT_3) AS "CNT_3"
		FROM (
			SELECT F_GY_DATA_CODE_NM('06', HJ_DONG_CD) AS HJ_DONG_NM
				   , LIGHT_TYPE
				   , HJ_DONG_CD
				   , COALESCE(CASE WHEN LIGHT_GUBUN = '1' THEN 1 END, 0) AS CNT_1
				   , COALESCE(CASE WHEN LIGHT_GUBUN = '2' THEN 1 END, 0) AS CNT_2
				   , COALESCE(CASE WHEN LIGHT_GUBUN = '3' THEN 1 END, 0) AS CNT_3
			FROM GY_LIGHT
		) A
		WHERE
			1=1
			<if test="light_type != null and light_type != '' ">
				AND LIGHT_TYPE = #{light_type}
			</if>
		GROUP BY HJ_DONG_NM
		ORDER BY HJ_DONG_NM
	</select>
	
	<select id="getEquipStandStaitstice" parameterType="hashMap" resultType="java.util.LinkedHashMap">
		SELECT '' AS IDX 
					   , HJ_DONG_NM
					   , SUM(A.CNT_1) AS "CNT_1" 
					   , SUM(A.CNT_2) AS "CNT_2" 
					   , SUM(A.CNT_3) AS "CNT_3" 
					   , SUM(A.CNT_4) AS "CNT_4" 
					   , SUM(A.CNT_5) AS "CNT_5" 
					   , SUM(A.CNT_6) AS "CNT_6" 
					   , SUM(A.CNT_7) AS "CNT_7" 
					   , SUM(A.CNT_8) AS "CNT_8" 
					   , SUM(A.CNT_9) AS "CNT_9" 
					   , SUM(A.CNT_10) AS "CNT_10"
					   , SUM(A.CNT_11) AS "CNT_11"
					   , SUM(A.CNT_12) AS "CNT_12"
				       , COUNT(*) AS TOTAL_CNT
		FROM (
			SELECT F_GY_DATA_CODE_NM('06', HJ_DONG_CD) AS HJ_DONG_NM
				   , LIGHT_TYPE
				   , COALESCE((CASE WHEN STAND_CD = '01' THEN 1 END), 0) AS CNT_1
				   , COALESCE((CASE WHEN STAND_CD = '02' THEN 1 END), 0) AS CNT_2
				   , COALESCE((CASE WHEN STAND_CD = '03' THEN 1 END), 0) AS CNT_3
				   , COALESCE((CASE WHEN STAND_CD = '04' THEN 1 END), 0) AS CNT_4
				   , COALESCE((CASE WHEN STAND_CD = '05' THEN 1 END), 0) AS CNT_5
				   , COALESCE((CASE WHEN STAND_CD = '06' THEN 1 END), 0) AS CNT_6
				   , COALESCE((CASE WHEN STAND_CD = '07' THEN 1 END), 0) AS CNT_7
				   , COALESCE((CASE WHEN STAND_CD = '08' THEN 1 END), 0) AS CNT_8
				   , COALESCE((CASE WHEN STAND_CD = '09' THEN 1 END), 0) AS CNT_9
				   , COALESCE((CASE WHEN STAND_CD = '10' THEN 1 END), 0) AS CNT_10
				   , COALESCE((CASE WHEN STAND_CD = '11' THEN 1 END), 0) AS CNT_11
				   , COALESCE((CASE WHEN STAND_CD = '12' THEN 1 END), 0) AS CNT_12
			FROM GY_LIGHT
		) A
		WHERE
			1=1
			<if test="light_type != null and light_type != '' ">
				AND LIGHT_TYPE = #{light_type}
			</if>
		GROUP BY HJ_DONG_NM
		ORDER BY HJ_DONG_NM
	</select>
	
	<select id="getEquipLamp2Staitstice" parameterType="hashMap" resultType="java.util.LinkedHashMap">
		SELECT '' AS IDX 
					   , HJ_DONG_NM
					   , SUM(A.CNT_1) AS "CNT_1" 
					   , SUM(A.CNT_2) AS "CNT_2" 
					   , SUM(A.CNT_3) AS "CNT_3" 
					   , SUM(A.CNT_4) AS "CNT_4" 
				       , COUNT(*) AS TOTAL_CNT
		FROM (
			SELECT F_GY_DATA_CODE_NM('06', HJ_DONG_CD) AS HJ_DONG_NM
				   , LIGHT_TYPE
				   , COALESCE((CASE WHEN STAND_CD = '01' THEN 1 END), 0) AS CNT_1
				   , COALESCE((CASE WHEN STAND_CD = '02' THEN 1 END), 0) AS CNT_2
				   , COALESCE((CASE WHEN STAND_CD = '03' THEN 1 END), 0) AS CNT_3
				   , COALESCE((CASE WHEN STAND_CD = '04' THEN 1 END), 0) AS CNT_4
			FROM GY_LIGHT
		) A
		WHERE
			1=1
			<if test="light_type != null and light_type != '' ">
				AND LIGHT_TYPE = #{light_type}
			</if>
		GROUP BY HJ_DONG_NM
		ORDER BY HJ_DONG_NM
	</select>
	
	<select id="getEquipLamp3Staitstice" parameterType="hashMap" resultType="java.util.LinkedHashMap">
		SELECT '' AS IDX 
					   , HJ_DONG_NM
					   , SUM(A.CNT_1) AS "CNT_1" 
					   , SUM(A.CNT_2) AS "CNT_2" 
					   , SUM(A.CNT_3) AS "CNT_3" 
					   , SUM(A.CNT_4) AS "CNT_4" 
					   , SUM(A.CNT_5) AS "CNT_5" 
					   , SUM(A.CNT_6) AS "CNT_6" 
					   , SUM(A.CNT_7) AS "CNT_7" 
					   , SUM(A.CNT_8) AS "CNT_8" 
					   , SUM(A.CNT_9) AS "CNT_9" 
					   , SUM(A.CNT_10) AS "CNT_10"
				       , COUNT(*) AS TOTAL_CNT
		FROM (
			SELECT F_GY_DATA_CODE_NM('06', HJ_DONG_CD) AS HJ_DONG_NM
				   , LIGHT_TYPE
				   , COALESCE((CASE WHEN STAND_CD = '01' THEN 1 END), 0) AS CNT_1
				   , COALESCE((CASE WHEN STAND_CD = '02' THEN 1 END), 0) AS CNT_2
				   , COALESCE((CASE WHEN STAND_CD = '03' THEN 1 END), 0) AS CNT_3
				   , COALESCE((CASE WHEN STAND_CD = '04' THEN 1 END), 0) AS CNT_4
				   , COALESCE((CASE WHEN STAND_CD = '05' THEN 1 END), 0) AS CNT_5
				   , COALESCE((CASE WHEN STAND_CD = '06' THEN 1 END), 0) AS CNT_6
				   , COALESCE((CASE WHEN STAND_CD = '07' THEN 1 END), 0) AS CNT_7
				   , COALESCE((CASE WHEN STAND_CD = '08' THEN 1 END), 0) AS CNT_8
				   , COALESCE((CASE WHEN STAND_CD = '09' THEN 1 END), 0) AS CNT_9
				   , COALESCE((CASE WHEN STAND_CD = '10' THEN 1 END), 0) AS CNT_10
			FROM GY_LIGHT
		) A
		WHERE
			1=1
			<if test="light_type != null and light_type != '' ">
				AND LIGHT_TYPE = #{light_type}
			</if>
		GROUP BY HJ_DONG_NM
		ORDER BY HJ_DONG_NM
	</select>
	
	<select id="getComplaintList" resultType="java.util.LinkedHashMap" parameterType="hashMap">
		<![CDATA[
			SELECT A.REPAIR_NO
						   , F_GY_DATA_CODE_NM('14', A.REPAIR_CD)||'/'||F_GY_DATA_CODE_NM('13', A.LIGHT_GUBUN) AS LIGHT_GUBUN
						   , F_GY_DATA_CODE_NM('01', A.TROUBLE_CD) AS TROUBLE_NM
						   , A.LIGHT_NO
						   , A.LOCATION
						   , A.NOTICE_NAME
						   , CASE WHEN A.inform_method = '03'
						   				THEN A.PHONE
						   				WHEN A.inform_method = '01'
						   				THEN A.MOBILE
						   				WHEN A.inform_method = '02'
						   				THEN A.EMAIL
						   				WHEN A.inform_method = '04'
						   				THEN ''
						   	END AS CONTACT
						   , F_GY_DATA_CODE_NM('03', A.PROGRESS_STATUS) AS PROGRESS_STATUS
						   , COALESCE(C.MEMBER_NAME, '') AS MEMBER_NAME
				FROM GY_LIGHT_REPAIR A
				LEFT OUTER JOIN GY_LIGHT_REPAIR_PART B
				ON A.REPAIR_NO = B.REPAIR_NO
				LEFT OUTER JOIN GY_MEMBER C
				ON B.COMPANY_ID = C.MEMBER_ID
				WHERE 1=1
		]]>
				<if test="sDate != null and sDate != '' and eDate != null and eDate != '' ">
					AND TO_CHAR(A.NOTICE_DATE, 'YYYY-MM-DD') BETWEEN #{sDate} AND #{eDate}
				</if>
				<if test="light_gubun != null and light_gubun != '' ">
					AND A.LIGHT_GUBUN = #{light_gubun}	
				</if>
				<if test="repair_cd != null and repair_cd != '' ">
					AND A.REPAIR_CD = #{repair_cd}	
				</if>
				<if test="searchType != null and searchType != '' ">
					<choose>
						<when test="searchType == 1">
							AND A.NOTICE_NAME LIKE '%'||#{keyword}||'%'
						</when>
						<when test="searchType == 2">
							AND A.LOCATION LIKE '%'||#{keyword}||'%'
						</when>
						<when test="searchType == 3">
							AND A.LIGHT_NO LIKE '%'||#{keyword}||'%'
						</when>
						<when test="searchType == 4">
							AND A.TROUBLE_CD = #{trouble_cd}
						</when>
						<when test="searchType == 5">
							AND A.PROGRESS_STATUS = #{progress_status}
						</when>
					</choose>
				</if>
		<![CDATA[
			ORDER BY A.REPAIR_NO DESC
		]]>
	</select>
	
	<select id="getCompanyId" resultType="hashMap" parameterType="hashMap">
		<![CDATA[
			SELECT A.MEMBER_ID AS DATA_CODE, A.MEMBER_NAME AS DATA_CODE_NAME
				FROM GY_MEMBER A
				WHERE
					A.GRADE = '03'
		]]>
				<if test="searchYear != null and searchYear != '' ">
					AND A.YEAR = #{searchYear}
				</if>
		<![CDATA[
			ORDER BY A.MEMBER_ID DESC
		]]>
	</select>
	
	<select id="getLightList" resultType="hashMap" parameterType="hashMap">
		<![CDATA[
			SELECT LIGHT_NO AS "관리번호",
					ADDRESS AS "주소",
					NEW_ADDRESS AS "새주소",
					POLE_NO AS "인입주", 
					BDJ AS "변대주",
					SET_YMD AS "설치년도",
					MAP_X_POS_GL AS "X좌표",
					MAP_Y_POS_GL AS "Y좌표",
					F_GY_DATA_CODE_NM('13', LIGHT_TYPE) AS "등종류",
					F_GY_DATA_CODE_NM('05', LIGHT_GUBUN) AS "등상태",
					F_GY_DATA_CODE_NM('06', HJ_DONG_CD) AS "행정동",
					F_GY_DATA_CODE_NM('08', STAND_CD) AS "지지방식",
					F_GY_DATA_CODE_NM('09', LAMP1_CD) AS "등기구형태",
					F_GY_DATA_CODE_NM('10', LAMP2_CD) AS "광원종류",
					F_GY_DATA_CODE_NM('11', LAMP3_CD) AS "광원용량",
					KEPCO_CUST_NO AS "한전고객번호",
					F_GY_DATA_CODE_NM('15', ONOFF_CD) AS "점멸기"
				FROM GY_LIGHT A
				WHERE
					1=1
			]]>
					<if test="excelLightType != null and excelLightType != '' ">
						AND A.LIGHT_TYPE = #{excelLightType}	
					</if>
					<if test="hj_dong_cd != null and hj_dong_cd != '' ">
						AND A.HJ_DONG_CD = #{hj_dong_cd}	
					</if>
					<if test="stand_cd != null and stand_cd != '' ">
						AND STAND_CD = #{stand_cd}
					</if>
					<if test="lamp1_cd != null and lamp1_cd != '' ">
						AND LAMP1_CD = #{lamp1_cd}
					</if>
					<if test="lamp2_cd != null and lamp2_cd != '' ">
						AND LAMP2_CD = #{lamp2_cd}
					</if>
					<if test="lamp3_cd != null and lamp3_cd != '' ">
						AND LAMP3_CD = #{lamp3_cd}
					</if>
					<if test="onoff_cd != null and onoff_cd != '' ">
						AND ONOFF_CD = #{onoff_cd}
					</if>
					<choose>
						<when test='kepco_cd != null and kepco_cd == "Y".toString() '>
							AND (KEPCO_CUST_NO IS NOT NULL AND KEPCO_CUST_NO != '' AND KEPCO_CUST_NO != '0')
						</when>
						<when test='kepco_cd != null and kepco_cd == "N".toString() '>
							AND (KEPCO_CUST_NO IS NULL OR KEPCO_CUST_NO = '')
						</when>
					</choose>
			<![CDATA[
				ORDER BY LIGHT_NO
			]]>
	</select>
	
	<select id="getRepairList" resultType="hashMap" parameterType="hashMap">
		<![CDATA[
			SELECT
				A.REPAIR_NO AS "접수번호"
				, A.LIGHT_NO AS "관리번호"
				, F_GY_DATA_CODE_NM('06', A.DONG) AS "행정동"
				, F_GY_DATA_CODE_NM('13', A.LIGHT_GUBUN) AS "등구분"		
				, COALESCE(CASE WHEN A.REPAIR_GUBUN = '1' THEN '교환' 
				       WHEN A.REPAIR_GUBUN = '2' THEN '이설' 
				       WHEN A.REPAIR_GUBUN = '3' THEN '철거' 
				       WHEN A.REPAIR_GUBUN = '4' THEN '보수' END ,'') AS "작업구분"	
				, COALESCE(B.REPAIR_DESC, '') AS "작업비고"
				, COALESCE(TO_CHAR(LAST_UPDATE, 'YYYY-MM-DD'), '') AS "최종등록일"
			FROM GY_LIGHT_REPAIR  A
						LEFT OUTER JOIN GY_LIGHT_REPAIR_PART B
						ON A.REPAIR_NO=B.REPAIR_NO
				WHERE 1=1
		]]>
				<choose>
					<when test='gubun != null and gubun == "period".toString() '>
						AND TO_CHAR(A.NOTICE_DATE, 'YYYY-MM-DD') BETWEEN #{sDate3} AND #{eDate3}
					</when>
					<when test='gubun != null and gubun == "company".toString() '>
						AND B.COMPANY_ID = #{company_id2}
					</when>
				</choose>
		<![CDATA[		
			ORDER BY A.DONG, A.REPAIR_NO DESC
		]]>
	</select>
	
	<select id="getMaterialUseList" resultType="hashMap" parameterType="hashMap">
		<![CDATA[
			 SELECT A.INOUT_DAY AS "날짜"
     	,COALESCE((SELECT DATA_CODE_NAME FROM GY_CODE B WHERE CODE_TYPE='24' AND A.PART_CD=B.DATA_CODE AND B.YEAR=A.YEAR) ,'') AS "품명"
		,COALESCE((SELECT STANDARD FROM GY_CODE B WHERE CODE_TYPE='24' AND A.PART_CD=B.DATA_CODE AND B.YEAR=A.YEAR) ,'') AS "규격"
		,COALESCE((SELECT UNIT FROM GY_CODE B WHERE CODE_TYPE='24' AND A.PART_CD=B.DATA_CODE AND B.YEAR=A.YEAR) ,'') AS "단위"
             ,CASE WHEN COMPANY_ID = 'admin' AND INOUT_FLAG IN('1','4') THEN INOUT_CNT 
                   WHEN COMPANY_ID != 'admin' AND INOUT_FLAG NOT IN('3','5') THEN INOUT_CNT ELSE 0 END AS "입고"
             ,CASE WHEN COMPANY_ID = 'admin' AND INOUT_FLAG NOT IN ('1','4') THEN INOUT_CNT 
                   WHEN COMPANY_ID != 'admin' AND INOUT_FLAG IN('3','5') THEN INOUT_CNT ELSE 0 END AS "출고"
        ,CASE WHEN COMPANY_ID = 'admin' AND INOUT_FLAG IN('1','4') THEN INOUT_CNT WHEN COMPANY_ID != 'admin' AND INOUT_FLAG NOT IN('3','5') THEN INOUT_CNT ELSE 0 END 
         - CASE WHEN COMPANY_ID = 'admin' AND INOUT_FLAG NOT IN ('1','4') THEN INOUT_CNT WHEN COMPANY_ID != 'admin' AND INOUT_FLAG IN('3','5') THEN INOUT_CNT ELSE 0 END AS "잔고" 
		,COALESCE((SELECT COM_NAME FROM GY_MEMBER WHERE MEMBER_ID=COMPANY_ID) ,'') AS "시공업체"
        , COALESCE(CASE WHEN COMPANY_ID = 'admin' AND INOUT_FLAG = '1' THEN '[외부(구매)입고]'
               WHEN COMPANY_ID = 'admin' AND INOUT_FLAG = '2' THEN '[외부(판매)출고]'
               WHEN COMPANY_ID = 'admin' AND INOUT_FLAG = '3' THEN '[업체출고]'
               WHEN COMPANY_ID = 'admin' AND INOUT_FLAG = '4' THEN '[업체반납]'
               WHEN COMPANY_ID = 'admin' AND INOUT_FLAG = '5' THEN '[보수처리]'
               WHEN COMPANY_ID != 'admin' AND INOUT_FLAG = '3' THEN '[구청입고]'
               WHEN COMPANY_ID != 'admin' AND INOUT_FLAG = '4' THEN '[구청반납]'
               WHEN COMPANY_ID != 'admin' AND INOUT_FLAG = '5' THEN '[보수처리]' ELSE '' END||' '||A.BIGO ,'') AS "비고"
		 FROM GY_LIGHT_PART A 
		 WHERE YEAR LIKE  #{st_yy}  AND COMP_NM LIKE '%'||#{company_id}
		   AND PART_CD LIKE '%'||#{material_cd}
           AND INOUT_DAY  BETWEEN   replace(#{sDate2},'-','') AND replace(#{eDate2},'-','')
			ORDER BY INOUT_DAY, PART_CD, LAST_UPDATE
		]]>
	</select>
	
	<select id="getMaterialList" resultType="hashMap" parameterType="hashMap">
		<![CDATA[
			 SELECT A.INOUT_DAY AS "날짜"
     	,COALESCE((SELECT DATA_CODE_NAME FROM GY_CODE B WHERE CODE_TYPE='24' AND A.PART_CD=B.DATA_CODE AND B.YEAR=A.YEAR) ,'') AS "품명"
		,COALESCE((SELECT STANDARD FROM GY_CODE B WHERE CODE_TYPE='24' AND A.PART_CD=B.DATA_CODE AND B.YEAR=A.YEAR) ,'') AS "규격"
             ,CASE WHEN COMPANY_ID = 'admin' AND INOUT_FLAG IN('1','4') THEN INOUT_CNT 
                   WHEN COMPANY_ID != 'admin' AND INOUT_FLAG NOT IN('3','5') THEN INOUT_CNT ELSE 0 END AS "입고"
             ,CASE WHEN COMPANY_ID = 'admin' AND INOUT_FLAG NOT IN ('1','4') THEN INOUT_CNT 
                   WHEN COMPANY_ID != 'admin' AND INOUT_FLAG IN('3','5') THEN INOUT_CNT ELSE 0 END AS "출고"
        ,CASE WHEN COMPANY_ID = 'admin' AND INOUT_FLAG IN('1','4') THEN INOUT_CNT WHEN COMPANY_ID != 'admin' AND INOUT_FLAG NOT IN('3','5') THEN INOUT_CNT ELSE 0 END 
         - CASE WHEN COMPANY_ID = 'admin' AND INOUT_FLAG NOT IN ('1','4') THEN INOUT_CNT WHEN COMPANY_ID != 'admin' AND INOUT_FLAG IN('3','5') THEN INOUT_CNT ELSE 0 END AS "잔고" 
		,COALESCE((SELECT MEMBER_NAME FROM GY_MEMBER WHERE MEMBER_ID=COMPANY_ID) ,'') AS "시공업체"
		,A.REPAIR_NO AS "접수번호"
        , COALESCE(CASE WHEN COMPANY_ID = 'admin' AND INOUT_FLAG = '1' THEN '[외부(구매)입고]'
               WHEN COMPANY_ID = 'admin' AND INOUT_FLAG = '2' THEN '[외부(판매)출고]'
               WHEN COMPANY_ID = 'admin' AND INOUT_FLAG = '3' THEN '[업체출고]'
               WHEN COMPANY_ID = 'admin' AND INOUT_FLAG = '4' THEN '[업체반납]'
               WHEN COMPANY_ID = 'admin' AND INOUT_FLAG = '5' THEN '[보수처리]'
               WHEN COMPANY_ID != 'admin' AND INOUT_FLAG = '3' THEN '[구청입고]'
               WHEN COMPANY_ID != 'admin' AND INOUT_FLAG = '4' THEN '[구청반납]'
               WHEN COMPANY_ID != 'admin' AND INOUT_FLAG = '5' THEN '[보수처리]' ELSE '' END||' '||A.BIGO ,'') AS "비고"
		 FROM GY_LIGHT_PART A 
		 WHERE YEAR LIKE  #{st_yy}  AND COMP_NM LIKE '%'||#{company_id}
		   AND PART_CD LIKE '%'||#{material_cd}
		   AND INOUT_FLAG = '5'
           AND INOUT_DAY  BETWEEN   replace(#{sDate2},'-','') AND replace(#{eDate2},'-','')
			ORDER BY INOUT_DAY, PART_CD, LAST_UPDATE
		]]>
	</select>
	
	<update id="updateEquipment" parameterType="hashMap">
		UPDATE GY_LIGHT
		SET
			OLD_LIGHT_NO = #{old_light_no}
			, HJ_DONG_CD = #{hj_dong_cd}
			, LIGHT_TYPE = #{light_type}
			, MGMT_NO = #{mgmt_no}
			, DOYEP_NO = #{doyep_no}
			, BDJ = #{bdj}
			, POLE_NO = #{pole_no}
			, LIGHT_GUBUN = #{light_gubun}
			, TWIN_LIGHT = #{twin_light}
			, LAMP1_CD = #{lamp1_cd}
			, LAMP1_CD2 = #{lamp1_cd2}
			, LAMP2_CD = #{lamp2_cd}
			, LAMP2_CD2 = #{lamp2_cd2}
			, LAMP3_CD = #{lamp3_cd}
			, LAMP3_CD2 = #{lamp3_cd2}
			, ONOFF_CD = #{onoff_cd}
			, STAND_CD = #{stand_cd}
			, KEPCO_CUST_NO = #{kepco_cust_no}
			, KEPCO_CD = #{kepco_cd}
			, WORK_CD = #{work_cd}
			, SET_YMD = TO_CHAR(TO_DATE(#{set_ymd}, 'YYYY-MM-DD'),'YYYYMMDD')
			, USE_LIGHT = #{use_light}
			, ADDRESS = #{address}
			, NEW_ADDRESS = #{new_address}
			, LAST_UPDATE = now()
		WHERE
			LIGHT_NO = #{light_no}
	</update>
	
	<update id="deleteEquipment" parameterType="hashMap">
		UPDATE GY_LIGHT
		SET
			LIGHT_GUBUN = '9'
			, LAST_UPDATE = now()
		WHERE
			LIGHT_NO = #{light_no}
			AND LIGHT_TYPE = #{light_type}
	</update>
	
	<update id="updateGisEquipment" parameterType="hashMap">
		UPDATE GY_LIGHT
		SET
			HJ_DONG_CD = #{hj_dong_cd}
			, LIGHT_TYPE = #{light_type}
			, MAP_X_POS_GL = #{mapPosX}
			, MAP_Y_POS_GL = #{mapPosY}
			, POLE_NO = #{pole_no}
			, LAMP2_CD = #{lamp2_cd}
			, LAMP3_CD = #{lamp3_cd}
			, KEPCO_CUST_NO = #{kepco_cust_no}
			, KEPCO_CD = #{kepco_cd}
			, USE_LIGHT = #{use_light}
			, ADDRESS = #{address}
			, NEW_ADDRESS = #{new_address}
			, LAST_UPDATE = now()
		WHERE
			LIGHT_NO = #{light_no}
	</update>
	
	<insert id="insertGisEquipment" parameterType="hashMap">
		INSERT INTO GY_LIGHT (
			LIGHT_NO, LIGHT_TYPE, HJ_DONG_CD, LIGHT_GUBUN, LAMP2_CD
			, LAMP3_CD, POLE_NO, KEPCO_CUST_NO, KEPCO_CD, USE_LIGHT
			, MAP_X_POS_GL, MAP_Y_POS_GL, ADDRESS, NEW_ADDRESS
		)
		VALUES (
			#{light_no}, #{light_type}, #{hj_dong_cd}, '1', #{lamp2_cd}
			, #{lamp3_cd}, #{pole_no}, #{kepco_cust_no}, #{kepco_cd}, #{use_light}
			, #{mapPosX}, #{mapPosY}, #{address}, #{new_address}
		)
	</insert>
</mapper>