@charset "utf-8"; 


/*common*/
html, body {width: 100%;height:100%;}
body, div, h1, h2, h3, h4, h5, ul, li, p {margin: 0px; padding: 0px}
body, input, button, li {font-size: 13px; line-height: 1.6em; font-family:"나눔고딕","NanumGothic","Malgun Gothic", 'Helvetica Neue', Helvetica, sans-serif; }
h1, h2, h3, h4, h5, h6 {font-size: 13px; text-align: left}
img, fieldset, iframe, button,form {border:0 none; margin:0;}
img, input, select, textarea {vertical-align: middle;font-family:"나눔고딕","NanumGothic","Malgun Gothic", Helvetica, sans-serif; }
li{list-style: none}
a{ text-decoration: none;border : 0 none; color:#444}
a:hover{text-decoration:none;}
em, address{font-style: normal}
button{cursor: pointer; vertical-align: middle;}
.hide{display: none}
caption{display: none}
input , textarea,select{margin:0px;vertical-align: middle;}

/* input 기본 스타일 초기화 */
input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
input::-ms-clear { display: none; }

select {

    -webkit-appearance: none;  /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
   border:none;
}

/* IE 10, 11의 네이티브 화살표 숨기기 */
select::-ms-expand {
    display: none;
}

/**/
input[type=radio] {display: inline-block; margin-top:-2px; width: 15px; height: 15px; 
background: url(../images/icon/radio_off.png) left center no-repeat;background-size:15px 15px; transition-duration: .3s;border:none; }
input[type=radio]:checked{ background-image: url(../images/icon/radio_on.png);background-size:15px 15px; border:none;}

input[type=checkbox] {display: inline-block; margin:-2px 3px 0 0; width: 15px; height: 15px; 
background: url(../images/icon/check_off.gif) left center no-repeat;background-size:15px 15px; transition-duration: .3s;border:none; }
input[type=checkbox]:checked{ background-image: url(../images/icon/check_on.gif);background-size:15px 15px; border:none;}


/*layout*/
#wrap{position:relative;  width:100%;  overflow:hidden; }
#header{position:fixed;top:0; left:0;width:100%; overflow:hidden;z-index:200;}
#header2{position:fixed;top:0;margin:0 auto; width:100%; overflow:hidden;z-index:201;background-color:#fff;}

#container{ position:relative; width:100%; min-height:100%;overflow:hidden; z-index:100}


/*top*/
#top{width:100%;height:85px; z-index:99;margin:0 auto; border-bottom:1px solid rgba(255,255,255,0.2);}
#top2{width:100%;height:85px; z-index:99;margin:0 auto; border-bottom:solid 1px #e5e5e5;}

#top_menu{margin:0 auto;width:1160px;;overflow:hidden;}

#logo{float:left;font-size:20px;width:145px;text-align:center; padding:16px 3px 0 0; ; z-index:99;}
#logo2{float:left;font-size:20px;width:145px;text-align:center; padding:16px 3px 0 0; ; z-index:99;}

#login{float:right; line-height:85px; z-index:99;overflow:hidden;opacity: 0.88;}
#login span a{font-size:14px;}
#login span a.btn_login{background-color:#fff; color:#555; font-weight:bold;padding:6px 17px;}
#login span a:hover.btn_login{background-color:#fff; color:#3c8add; padding:6px 17px;}

#login2{float:right; line-height:85px; z-index:99;overflow:hidden;opacity: 0.9;}
#login2 span a{font-size:14px;border:solid 1px #ddd;}
#login2 span a.btn_login{background-color:#fff; color:#333;font-weight:bold;padding:6px 17px;border:solid 1px #ddd;}
#login2 span a:hover.btn_login{background-color:#fff; color:#3c8add; padding:6px 17px;border:solid 1px #3c8add;}

#navi{position:relative; margin:0 auto;float:left;width:915px;height:85px;; z-index:99;overflow:hidden;}
#navi ul{margin:0; width:915px;overflow:hidden}
#navi li {margin:0;float:left;vertical-align: middle; color:#fff;}
#navi li a{ position:relative;margin:0;float:left; color:#fff; padding:0 22px;font-size:17px;  line-height:85px;height:85px;z-index:100;}
#navi li a:hover{ margin:0;float:left;color:#3997f8;text-decoration:none;font-weight:bold;z-index:100;}
#navi li a.menu_on{ margin:0;float:left;color:#3997f8;text-decoration:none;font-weight:bold; }

#navi li a::before { content:''; position:absolute; left:17%; top:82px;  height:3px; width:0px;
background:#3997f8; color:#FFF;}

#navi li a:hover::before { content:''; position:absolute; left:17%; top:82px;  height:3px; 
background:#3997f8; color:#FFF;
-webkit-transition: all 0.5s 0.1s; -moz-transition: all 0.5s 0.1s; -o-transition: all 0.5s 0.1s; transition: all 0.5s 0.1s;
}
#navi li:nth-child(1) a:hover::before { width:70px; }
#navi li:nth-child(2) a:hover::before { width:120px; }
#navi li:nth-child(3) a:hover::before { width:90px; }
#navi li:nth-child(4) a:hover::before { width:90px; }
#navi li:nth-child(5) a:hover::before { width:90px; }
#navi li:nth-child(6) a:hover::before { width:60px; }
#navi li:nth-child(7) a:hover::before { width:70px; }


#navi2{position:relative; margin:0 auto;float:left;width:915px;height:85px;; z-index:99;overflow:hidden;}
#navi2 ul{margin:0; width:915px;overflow:hidden}
#navi2 li {margin:0;float:left;vertical-align: middle; color:#222;}
#navi2 li a{ position:relative;margin:0;float:left; color:#222; padding:0 22px;font-size:17px;  line-height:85px;height:85px;z-index:100;}
#navi2 li a:hover{ margin:0;float:left;color:#3997f8;text-decoration:none;font-weight:bold;z-index:100;}
#navi2 li a.menu_on{ margin:0;float:left;color:#3997f8;text-decoration:none;font-weight:bold; }

#navi2 li a::before { content:''; position:absolute; left:17%; top:82px;  height:3px; width:0px;
background:#3997f8; color:#FFF;}

#navi2 li a:hover::before { content:''; position:absolute; left:17%; top:82px;  height:3px; 
background:#3997f8; color:#FFF;
-webkit-transition: all 0.5s 0.1s; -moz-transition: all 0.5s 0.1s; -o-transition: all 0.5s 0.1s; transition: all 0.5s 0.1s;
}
#navi2 li:nth-child(1) a:hover::before { width:70px; }
#navi2 li:nth-child(2) a:hover::before { width:120px; }
#navi2 li:nth-child(3) a:hover::before { width:90px; }
#navi2 li:nth-child(4) a:hover::before { width:90px; }
#navi2 li:nth-child(5) a:hover::before { width:90px; }
#navi2 li:nth-child(6) a:hover::before { width:60px; }
#navi2 li:nth-child(7) a:hover::before { width:70px; }


/* #navi_s_area on 추가*/
#navi_s_area.on{margin:0 auto;width:100%;height:55px;overflow:hidden;background-color:#fff;border-bottom:solid 1px #ddd;display:block;}
#navi_s_area{margin:0 auto;height:55px;overflow:hidden;background-color:#fff;border-bottom:solid 1px #ddd;display:none;}
#navi_smenu{position:fixed;top:93px; left:50%; margin-left:-580px; ;width:1160px; text-align:center;}
#navi_smenu ul.smenu01{margin-left:100px;display:none;}
#navi_smenu ul.smenu02{margin-left:270px;display:none;}
#navi_smenu ul.smenu03{margin-left:200px;display:none;}
#navi_smenu ul.smenu04{margin-left:400px;display:none;}
#navi_smenu ul.smenu05{margin-left:660px;display:none;}
#navi_smenu ul.smenu06{margin-left:600px;display:none;}
#navi_smenu ul.smenu07{margin-left:800px;display:none;}
#navi_smenu ul.smenu01.on{margin-left:100px;display:block;}
#navi_smenu ul.smenu02.on{margin-left:270px;display:block;}
#navi_smenu ul.smenu03.on{margin-left:200px;display:block;} 
#navi_smenu ul.smenu04.on{margin-left:400px;display:block;}
#navi_smenu ul.smenu05.on{margin-left:660px;display:block;}
#navi_smenu ul.smenu06.on{margin-left:600px;display:block;}
#navi_smenu ul.smenu07.on{margin-left:800px;display:block;}

#navi_smenu li {margin:0;float:left;vertical-align: middle; color:#222;}
#navi_smenu li a{ margin:0;float:left; color:#666; padding:0 16px;font-size:15px;  line-height:40px;height:40px; }
#navi_smenu li a:hover{ margin:0;float:left;color:#3997f8;text-decoration:none;font-weight:bold;}



/* 간격 */
.pdt40{padding-top:40px;}
.pdt20{padding-top:20px;}
.pdt10{padding-top:10px;}
.pdl10{padding-left:10px;}
.pdl30{padding-left:30px;}
.pdl250{padding-left:250px;}
.pdl400{padding-left:400px;}
.pdl5{padding-left:5px;}
.pdr10{padding-right:10px;}
.pdr50{padding-right:50px;}


/*box*/
.tbox01{border:none;  background-color:#fff; text-indent:3px;  height:25px;line-height:25px; text-align:left; width:210px;}
.tbox02{border:solid 1px #ccc;  background-color:#fff; text-indent:3px;  height:28px;line-height:28px; text-align:left; 
width:150px;color:#258fff;font-size:15px;}
.tbox03{border:solid 1px #ccc;  background-color:#fff; text-indent:3px;  height:28px;line-height:28px; text-align:left; 
width:220px;color:#258fff;font-size:15px;}
.tbox03_gray{border:solid 1px #ccc;  background-color:#e5e5e5; text-indent:3px;  height:28px;line-height:28px; text-align:left; 
width:220px;color:#258fff;font-size:15px;float:left;}
.tbox04{border:solid 1px #ccc;  background-color:#fff; text-indent:8px;  height:42px;line-height:42px; text-align:left; 
width:350px;color:#aaa;font-size:14px;}
.tbox05{border:none;  text-indent:8px;  height:32px;line-height:32px; text-align:left; background-color:none; 
width:190px;color:#258fff;font-size:13px;}
.tbox06{border:solid 1px #ccc;  background-color:#fff; text-indent:3px;  height:28px;line-height:28px; text-align:left; 
width:400px;color:#258fff;font-size:15px;}
.tbox07{border:solid 1px #ddd;  background-color:#fff; text-indent:3px;  height:22px;line-height:22px; text-align:left; 
width:180px;color:#258fff;font-size:13px;color:#777}
.tbox10{border:solid 1px #ddd;  background-color:#fff; text-indent:3px;  height:22px;line-height:22px; text-align:right; 
width:35px;color:#258fff;font-size:13px;color:#777;padding-right:5px;}
.tbox07_gray{border:solid 1px #ddd;  background-color:#eee; text-indent:3px;  height:22px;line-height:22px; text-align:left; 
width:180px;color:#258fff;font-size:13px;float:left;color:#777}
.tbox08_gray{border:solid 1px #ddd;  background-color:#eee; text-indent:3px;  height:22px;line-height:22px; text-align:left; 
width:580px;color:#258fff;font-size:13px;float:left;color:#777}
.tbox09_gray{border:solid 1px #ddd;  background-color:#eee; text-indent:3px;  height:22px;line-height:22px; text-align:left; 
width:500px;color:#258fff;font-size:13px;float:left;color:#777}
.tbox10_gray{border:solid 1px #ddd;  background-color:#eee; text-indent:3px;  height:22px;line-height:22px; text-align:right; 
width:35px;color:#258fff;font-size:13px;color:#777;padding-right:5px;}
.tbox11{border:solid 1px #ccc;  background-color:#fff; text-indent:3px;  height:18px;line-height:18px; text-align:left; 
width:160px;color:#258fff;font-size:12px;}
.tbox11_grey{border:solid 1px #ccc;  background-color:#eee; text-indent:3px;  height:18px;line-height:18px; text-align:left; 
width:160px;color:#258fff;font-size:12px;}
.tbox12{border:solid 1px #ccc;  background-color:#fff; text-indent:3px;  height:28px;line-height:28px; text-align:left; 
width:160px;color:#258fff;font-size:15px;float:left;}
.tbox13{border:solid 1px #ccc;  background-color:#fff; text-indent:3px;  height:26px;line-height:26px; text-align:left; 
width:100px;color:#258fff;font-size:15px;}


/*font*/
.red01{ color:#fa3648; font-weight:bold;}
.red02{ color:#f85607; font-weight:bold;font-size:17px;}
.blue01{ color:#3997f8;font-size:28px;  font-weight:bold;line-height:30px;}
.blue02{color:#1588e3;font-size:16px;font-weight:bold;}
.blue03{ color:#2f90f4;font-weight:bold;}
.blue04{ color:#2f90f4;font-size:24px;font-weight:bold;}

.orange01{ color:#f3820a;font-weight:bold;}
.black01{ color:#000;font-size:26px; font-weight:bold;line-height:30px;}
.black02{ color:#222;font-size:15px;}
.black03{ color:#222;font-size:15px; font-weight:bold;}
.black04{ color:#000;font-size:17px;}
.black05{ color:#000;font-size:17px; font-weight:bold;}
.black06{ color:#000;font-size:21px;}
.black07{ color:#000;font-size:17px;}
.black08{ color:#000;font-size:16px; font-weight:bold;float:left;}

.yellow01{color:#e8a10a;font-size:23px;font-weight:bold;}
.gray01{ color:#666;font-size:14px;}
.gray02{ color:#888;font-size:12px;}
.white01{color:#Fff;font-size:15px;}



/*btn*/

a.btn_gray span{float:left;width:80px;height:28px;line-height:28px;text-align:center;margin:10px 0 20px 10px;color:#fff;border:solid 1px #a2a2a2;
background-color: #aaa;font-weight:bold; overflow:hidden;cursor: pointer;}
a:hover.btn_gray span{float:left;width:80px;height:28px;line-height:28px;text-align:center;margin:10px 0 20px 10px;color:#fff;
border:solid 1px #999;background-color: #999;font-weight:bold; overflow:hidden;cursor: pointer;}

a.btn_gray03{float:right;padding: 0 15px;margin-left:5px;color:#222;border:solid 1px #aaa;line-height:28px;height:30px;
background-color: #fff;font-weight:bold;cursor: pointer}
a:hover.btn_gray03{float:right;padding: 0 15px;margin-left:5px;color:#247ad5;border:solid 1px #247ad5;line-height:28px;height:30px;
background-color: #fff;font-weight:bold;cursor: pointer}

a.btn_gray04{float:left;margin:0 20px 0 5px;padding: 0 10px;color:#222;border:solid 1px #bfbfbf;line-height:24px;
background-color: #fff;font-weight:bold;cursor: pointer;font-size:12px;}
a:hover.btn_gray04{float:left;margin:0 20px 0 5px;padding: 0 10px;color:#247ad5;border:solid 1px #247ad5;line-height:24px;
background-color: #fff;font-weight:bold;cursor: pointer}

a.btn_sky span{float:left;width:80px;height:28px;line-height:28px;text-align:center;margin:10px 0 20px 10px;color:#fff;border:solid 1px #418cdb;
background-color: #4b96e6;font-weight:bold;overflow:hidden; cursor: pointer;}
a:hover.btn_sky span{float:left;width:80px;height:28px;line-height:28px;text-align:center;margin:10px 0 20px 10px;color:#fff;
border:solid 1px #2074ce;background-color: #247bd7;font-weight:bold;overflow:hidden; cursor: pointer;}

a.btn_sky02{padding: 0 15px;color:#247ad5;border:solid 1px #247ad5;line-height:28px;height:30px;
background-color: #fff;font-weight:bold;cursor: pointer;}
a:hover.btn_sky02{padding: 0 15px;color:#fff;border:solid 1px #247ad5;line-height:28px;height:30px;
background-color: #247ad5;font-weight:bold;cursor: pointer}

a.btn_sky03 span{float:right;padding:5px 15px;;text-align:center;margin:10px 0px 0px 7px;color:#fff;border:solid 1px #418cdb;
background-color: #4b96e6;font-weight:bold;overflow:hidden; cursor: pointer;}
a:hover.btn_sky03 span{padding:5px 15px;;text-align:center;margin:10px 0px 0px 7px;;color:#fff;
border:solid 1px #2074ce;background-color: #247bd7;font-weight:bold;overflow:hidden; cursor: pointer;}

a.btn_blue p{width:250px;height:30px;line-height:30px;text-align:center;margin:10px 20px;border:solid 1px #77829d;color:#fff;
background-color: #818ca5;font-weight:bold;overflow:hidden; cursor: pointer;}
a:hover.btn_blue p{width:250px;height:30px;line-height:30px;text-align:center;margin:10px 20px;border:solid 1px #69748c;color:#fff;
background-color: #69748c;font-weight:bold;overflow:hidden; cursor: pointer;}

a.btn_more{float:left;margin-left:20px;padding: 0 7px;color:#222;border:solid 1px #bfbfbf;line-height:26px;
background-color: #fff;font-weight:bold;cursor: pointer}
a:hover.btn_more{float:left;margin-left:20px;padding: 0 7px;color:#247ad5;border:solid 1px #247ad5;line-height:26px;
background-color: #fff;font-weight:bold;cursor: pointer}

a.btn_save{float:left;margin-left:17px;padding: 0 10px;color:#247ad5;border:solid 1px #247ad5;line-height:26px;
background-color: #fff;font-weight:bold;cursor: pointer}
a:hover.btn_save{float:left;margin-left:17px;padding: 0 10px;color:#fff;border:solid 1px #4b96e6;line-height:26px;
background-color: #4b96e6;font-weight:bold;cursor: pointer}

a:hover.btn_orange{float:left;margin-left:20px;padding: 0 9px;color:#fff;; ;border:solid 1px #f48208;line-height:26px;
background-color: #f48208;font-weight:bold;cursor: pointer}
a.btn_orange{float:left;padding: 0 9px;margin-left:20px;color:#f48208; ;border:solid 1px #f48208;line-height:26px;
background-color: #fff;font-weight:bold;cursor: pointer}

a:hover.btn_red{float:left;margin-left:20px;padding: 0 9px;color:#fff;; ;border:solid 1px #f12010;line-height:26px;
background-color: #f12010;font-weight:bold;cursor: pointer}
a.btn_red{float:left;padding: 0 9px;margin-left:20px;color:#f12010; ;border:solid 1px #f12010;line-height:26px;
background-color: #fff;font-weight:bold;cursor: pointer}

a:hover.btn_red02{float:left;margin-left:20px;width:100px;;color:#fff;; ;border:solid 1px #f12010;line-height:26px;
background-color: #f12010;font-weight:bold;cursor: pointer}
a.btn_red02{float:left;margin-left:20px;width:100px;color:#f12010; ;border:solid 1px #f12010;line-height:26px;
background-color: #fff;font-weight:bold;cursor: pointer}

a:hover.btn_blue02{float:left;margin-left:20px;padding: 0 9px;color:#fff;; ;border:solid 1px #258fff;line-height:26px;
background-color: #258fff;font-weight:bold;cursor: pointer}
a.btn_blue02{float:left;margin-left:20px;padding: 0 9px;color:#196dc6; ;border:solid 1px #196dc6;line-height:26px;
background-color: #fff;font-weight:bold;cursor: pointer}

a:hover.btn_blue04{float:left;margin-left:20px;width:100px;;color:#fff;; ;border:solid 1px #258fff;line-height:26px;
background-color: #258fff;font-weight:bold;cursor: pointer}
a.btn_blue04{float:left;margin-left:20px;width:100px;;color:#196dc6; ;border:solid 1px #196dc6;line-height:26px;
background-color: #fff;font-weight:bold;cursor: pointer}

a.btn_green{float:left;margin-left:20px;padding: 0 8px;color:#009933; ;border:solid 1px #d5d5d5;line-height:26px;
background-color: #fff;font-weight:bold;cursor: pointer}
a:hover.btn_green{float:left;margin-left:20px;padding: 0 8px;color:#009933;border:solid 1px #009933;line-height:26px;
background-color: #fff;font-weight:bold;cursor: pointer}

a.btn_fix_red{float:left;width:80px;margin-left:15px;padding: 0 7px;color:#e84919; ;border:solid 1px #d5d5d5;line-height:26px;
background-color: #fff;font-weight:bold;cursor: pointer}
a:hover.btn_fix_red{float:left;width:80px;margin-left:15px;padding: 0 7px;color:#e84919; ;border:solid 1px #e84919;;line-height:26px;
background-color: #fff;font-weight:bold;cursor: pointer}

a.btn_fix_blue{float:left;width:80px;margin-left:15px;padding: 0 7px;color:#196dc6; ;border:solid 1px #d5d5d5;line-height:26px;
background-color: #fff;font-weight:bold;cursor: pointer}
a:hover.btn_fix_blue{float:left;width:80px;margin-left:15px;padding: 0 7px;color:#196dc6; ;border:solid 1px #196dc6;;line-height:26px;
background-color: #fff;font-weight:bold;cursor: pointer}

a.btn_fix_green{float:left;width:80px;margin-left:15px;padding: 0 7px;color:#009933; ;border:solid 1px #d5d5d5;line-height:26px;
background-color: #fff;font-weight:bold;cursor: pointer}
a:hover.btn_fix_green{float:left;width:80px;margin-left:15px;padding: 0 7px;color:#009933;border:solid 1px #009933;line-height:26px;
background-color: #fff;font-weight:bold;cursor: pointer}

/*Message*/
#messagePop{}
	#accordian {overflow-y:auto; width:400px; height:270px;}
	#accordian p {padding-top:10px;text-align:center;margin:0 auto;clear:both; }
	#accordian p a.btn_login{width:354px;height:50px;line-height:50px;;text-align:center;font-size:18px;
color:#fff;background-color: #258fff;font-weight:bold;float:left; border-radius:0px;margin:10px 0 0 23px;}
#accordian p a:hover.btn_login{width:354px;height:50px;line-height:50px;;text-align:center;font-size:18px;
color:#fff;background-color: #0577f0;font-weight:bold;float:left; border-radius:0px;margin:10px 0 0 23px;}
#accordian p.txt_btm{color:#aaa;padding:30px 0 0 20px;line-height:20px;text-align:left;font-size:12px;}


	/*popup*/
.modal-popup {display:none; position:fixed; _position:absolute; top:0; left:0; width:100%; height:100%; z-index:100;}
		.modal-popup .bg {position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.6);}
		.modal-popup .pop-layer {display:block;}

	.pop-layer {display:none; position: absolute; top: 50%; left: 50%; height:auto;  background-color:#fff; 
	border-radius: 15px; z-index: 10;}	
	.pop-layer .pop-container {padding: 20px 25px;}
	.pop-layer .pop-container h1{padding:50px 0 30px 0;font-family:"나눔고딕","NanumGothic","Malgun Gothic"; 
	color:#333; font-size:32px;text-align:center;}
	.pop-layer p.ctxt {color: #666; line-height: 25px;}
	.pop-layer .btn-r {position:absolute; top:-50px; right:-50px; width:50px; height:50px;}
		a.cbtn {display:inline-block; width:50px; height:50px; font-size:50px; color:rgba(255,255,255,0.5);}	
		a.cbtn:hover {color:#fff;}

	.pop-layer2 {display:none; position: absolute; top: 50%; left: 50%; height:auto;  background-color:#fff; 
	border-radius: 0px; z-index: 10;}	
	.pop-layer2 .pop-container {padding: 0px;}
	.pop-layer2 .pop-container h1{padding:50px 0 30px 0;font-family:"나눔고딕","NanumGothic","Malgun Gothic"; 
	color:#333; font-size:32px;text-align:center;}
	.pop-layer2 p.ctxt {color: #666; line-height: 25px;}
	.pop-layer2 .btn-r {position:absolute; top:-50px; right:-50px; width:50px; height:50px;}

	.pop-layer3 {display:none; position: absolute; top: 50%; left: 50%; height:auto;  background-color:#fff; 
	border-radius: 10px; z-index: 10;}	
	.pop-layer3 .pop-container {padding: 0px;}
	.pop-layer3 .pop-container h1{padding:50px 0 30px 0;font-family:"나눔고딕","NanumGothic","Malgun Gothic"; 
	color:#333; font-size:32px;text-align:center;}
	.pop-layer3 p.ctxt {color: #666; line-height: 25px;}
	.pop-layer3 .btn-r {position:absolute; top:-50px; right:-50px; width:50px; height:50px;}

	.pop-layer4 {display:none; position: absolute; top: 50%; left: 50%; height:auto;  background-color:#fff; 
	border-radius: 10px; z-index: 10;}	
	.pop-layer4 .pop-container {padding: 0px;}
	.pop-layer4 .pop-container h1{padding:50px 0 30px 0;font-family:"나눔고딕","NanumGothic","Malgun Gothic"; 
	color:#333; font-size:32px;text-align:center;}
	.pop-layer4 p.ctxt {color: #666; line-height: 25px;}
	.pop-layer4 .btn-r {position:absolute; top:-50px; right:-50px; width:50px; height:50px;}
		
.disable{cursor:not-allowed !important;}


.modal-popup2 {display:none; position:fixed; _position:absolute; top:0; left:0; width:100%; height:100%; z-index:100;}
.modal-popup2 .bg {position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.5);}
.modal-popup2 .pop-layer {display:block;}

.modal-popup3 {display:none; position:fixed; _position:absolute; top:0; left:0; width:100%; height:100%; z-index:100;}
.modal-popup3 .bg {position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.6);}
.modal-popup3 .pop-layer2 {display:block;}

.modal-popup4 {display:none; position:fixed; _position:absolute; top:0; left:0; width:100%; height:100%; z-index:100;}
.modal-popup4 .bg {position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.6);}
.modal-popup4 .pop-layer3 {display:block;}

.modal-popup5 {display:none; position:fixed; _position:absolute; top:0; left:0; width:100%; height:100%; z-index:100;}
.modal-popup5 .bg {position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.6);}
.modal-popup5 .pop-layer4 {display:block;}


.pop_detail{overflow-y:auto; width:830px; }
.pop_detail h3{padding:20px 0 0 18px; color:#222;font-size:26px; font-weight:bold;line-height:50px;}

.pop_detail2{overflow-y:auto; width:830px; height:550px;}
.pop_detail2 h3{padding:20px 0 0 8px; color:#222;font-size:26px; font-weight:bold;line-height:50px;}
.pop_detail2 h4{padding:20px 0 0 0px; color:#222;font-size:17px; font-weight:bold;line-height:35px;}


.pop_map{overflow-y:auto; width:1100px; height:650px;;padding:0; margin:0 }

.pop_system{width:450px; padding:30px 0; margin:0; }
.pop_system h3{ color:#222;font-size:18px; font-weight:bold;line-height:30px;}
.pop_system p{padding:0px 0 25px 40px}

.pop_pw{width:400px; padding:20px 0 20px 0; margin:0;height:auto;overflow:hidden; }
.pop_pw h3{ color:#222;font-size:17px; font-weight:bold;line-height:30px;float:left;margin:0 10px 0 30px;}
.pop_pw p{padding-bottom:0px ; }










