@import url('common.css');

/*map*/
#slight_map{position: relative;margin:0 auto;margin-top:130px; width:100%;height:100%;overflow:hidden;}
#sidebar{float:left;width:300px;height:100%;overflow:hidden;background-color: #fff; border-right:1px solid #333; }
#bar_title{width:300px; background-color: #484f57; height:42px;line-height:42px;border-bottom:1px solid #222; text-indent:15px;overflow: hidden;}
#bar_title li{ float:left; width:100px; color:#fff;overflow:hidden;}
#bar_title li a{float:left; width:100px; color:#fff;font-weight:bold;font-size:15px; height:42px;line-height:42px;}
#bar_title li a.tab_on{float:left; width:100px; color:#86c0fd;background-color: #2f3032;font-weight:bold;font-size:15px; 
height:42px;line-height:42px;}

#selbox{overflow:hidden;padding:12px 0;}

#bar_btn{ position:absolute; top:42px;left:300px;color:#fff;font-weight:bold;font-size:16px;z-index:99}

#sel{margin:8px 15px;overflow:hidden;}
#sel2{margin:0px;overflow:hidden;}
#sel3{margin:0px;overflow:hidden;height:150px;border-top:solid 1px #d5d5d5;border-bottom:solid 1px #d5d5d5;background-color: #fff; 
overflow-y:auto;}
#sel3 table{width:100%;margin:0; padding:7px 5px;overflow:hidden;}
#sel3 table td{width:33%;padding:5px 0;overflow:hidden; text-align:center;color:#222;font-size:15px;}

p.seltitle{width:80px;line-height:28px;font-size:14px;font-weight:bold;}
span.seltitle{float:left;width:80px;line-height:28px;font-size:14px;font-weight:bold;}


#search_list{position: relative;margin:0 auto;overflow:hidden;height:100%;overflow-y:auto;}
#search_list p.stitle{padding:8px 15px;border-top: 1px solid #666;border-bottom: 1px solid #aaa;font-weight:bold;;}
#search_list p.slist{padding:12px 15px 12px 32px;;background:url('../images/sub/icon01.png') no-repeat 5% 50%;
border-bottom: 1px solid #d5d5d5;overflow:hidden;}
#search_list p.slist span {display:block;color:#222;}
#search_list p.slist span.time{display:block;color:#777}

#s_map{position: relative;height:100%;;max-height:100%;color:#555;overflow:hidden;}
#s_map img.mapbg{ width:100%;height: 100%;max-width:100%;max-height:100%; object-fit: cover;vertical-align: middle;overflow:hidden;}
#side_map01{position:absolute; top:70px; left:20px;background-color:#fff;border:solid 1px #ccc;border-radius:10px;width:270px;height:120px;}
#side_map02{position:absolute; top:205px; left:20px;background-color:#fff;border:solid 1px #ccc;border-radius:10px;
width:270px;height:66%;z-index:1000}

/*map_popup*/
#mapbg{position: relative;height:100%;overflow:hidden;}
#mapbg img.p_map{max-width:100%;height: auto;vertical-align: middle;overflow:hidden;}
#sidebox01{position:absolute; top:20px; left:20px;background-color:#fff;border:solid 1px #ccc;border-radius:10px;width:270px;height:120px;}
#sidebox02{position:absolute; top:155px; left:20px;background-color:#fff;border:solid 1px #ccc;border-radius:10px;width:270px;height:auto;}

#side_tab{margin:0 auto ;text-align:left;width:270px;background-color:#eee;margin-bottom:20px;height:42px;overflow:hidden;
border-top:solid 1px #d5d5d5;border-bottom:solid 1px #d5d5d5;border-right:solid 1px #d5d5d5;border-radius:10px 10px 0px 0px; }
#side_tab ul{width:100%;overflow:hidden;}
#side_tab li{float:left;width:135px;text-align:center;}
#side_tab li a{width:135px;float:left;line-height:42px;height:42px;font-size:15px;border-left:solid 1px #ddd;}
#side_tab li a.tab_on{width:135px;float:left;background-color:#258fff; color:#fff;border:none;font-weight:bold;line-height:42px;height:42px;}
#side_tab li a.tab_on:hover{width:135px;float:left;background-color:#258fff; color:#fff;border:none;font-weight:bold;line-height:42px;height:42px;}
#side_tab li a:hover{width:135px;float:left;background-color:#f7f7f7;font-weight:bold;line-height:42px;height:42px;color:#000;}

#sidebox_search{position: relative;overflow:hidden; margin-top:8px;}
#sbox_adr{margin:0 auto;padding:0 ;text-align:center;height:22px; }
#sbox_adr span{padding:0 5px ;}
#searchbox{ margin-left:20px;border:solid 1px #258fff;border-radius:5px;overflow:hidden; height:34px;width:195px;}
#searchbox_btn{position:absolute; top:0px; right:20px;width:40px; height:36px;overflow:hidden;
;background:url("../images/sub/btn_search.png") no-repeat }

#side_list{position: relative;overflow:hidden;  height:470px;}
#side_title{ background-color:#f3f3f3;font-size:16px;font-weight:bold;line-height:46px;height:46px;color:#222;text-indent:15px;
border-radius:10px 10px 0px 0px;border-bottom:solid 1px #e5e5e5;overflow:hidden; }
#side_title2{ background-color:#f3f3f3;font-size:16px;font-weight:bold;line-height:46px;height:46px;color:#222;text-indent:15px;
border-radius:10px;overflow:hidden; }
#side_search_list{ overflow-y:auto;  height:380px;}
#side_search_list li{border-bottom:solid 1px #eee; padding:10px 10px 10px 33px;background:url("../images/sub/icon_spot.png") no-repeat 6% 50%;
background-size:15px 17px}
#map_close{position:absolute; bottom:12px; right:12px;width:23px;height:23px;;background:url("../images/sub/map_close.png") no-repeat ;}
#map_open{position:absolute; top:13px; right:13px;width:23px;height:23px;;background:url("../images/sub/map_open.png") no-repeat ;}

#area_informbox{cursor:pointer;
background:url("../images/sub/pop_smap.png") no-repeat ;;}
#area_inform_pop{position: relative;  width:300px;height:180px;}
#area_inform_close{position:absolute; top:15px; right:15px;background:url("../images/sub/pop_m_close.gif") no-repeat ;
width:17px; height:17px;}
#area_inform_pop p{padding:15px 10px 10px 15px;}
#area_inform_pop p.area_title{background:url("../images/sub/icon_spot.png") no-repeat 4% 58%;background-size:16px 19px;padding-left:30px;
font-size:17px;font-weight:bold;color:#000;}
#area_inform_pop ul {padding-left:15px;clear:both;}
#area_inform_pop li{float:left;font-size:12px;color:#777 ;line-height:19px;}
#area_inform_pop li.ai_title{width:72px;font-weight:bold;color:#333}
#area_inform_btn{position:absolute; bottom:10px; right:15px;
width:75px; height:30px;text-align:center;}
#area_inform_btn a{float:left;font-size:13px;line-height:30px;color:#fff;font-weight:bold;width:75px; height:30px;border-radius:3px;
background-color:#3396ff;}
#area_inform_btn a:hover{background-color:#0d69ca;}

/*main_banner*/
#main_bnr{margin:0 auto; width:100%;overflow:hidden;color:#fff;height:750px;}

/*dashboard*/
#dashbox{position:absolute; top:415px;left:50%;margin-left:-580px;;width:1160px;height:270px;background-color:#fff;
border-radius:12px;overflow:hidden;z-index:10;}

#dash_box01{float:left;background-color:#1588e3;width:245px;height:270px;}
#quick_menu{position:relative;margin:8px 22px}
#quick_menu ul{margin:0; width:245px;clear:both;}
#quick_menu li {margin:0;padding:0px;float:left;;text-align:center; color:#333;}
#quick_menu li a{ margin:0;float:left; color:#eee; font-size:14px;  font-weight:bold; }
#quick_menu li a.qmenu01{background:url(../images/main/qmenu01.png) no-repeat;width:78px;height:78px;margin:20px 15px 0px 10px ;}
#quick_menu li a.qmenu02{background:url(../images/main/qmenu02.png) no-repeat;width:78px;height:78px;margin:20px 15px 0px 10px ;}
#quick_menu li a.qmenu03{background:url(../images/main/qmenu03.png) no-repeat;width:78px;height:78px;margin:40px 15px 0px 10px ;}
#quick_menu li a.qmenu04{background:url(../images/main/qmenu04.png) no-repeat;width:78px;height:78px;margin:40px 15px 0px 10px ;}
#quick_menu li a:hover.qmenu01{background:url(../images/main/qmenu01r.png) no-repeat;width:78px;height:78px;margin:20px 15px 0px 10px ;}
#quick_menu li a:hover.qmenu02{background:url(../images/main/qmenu02r.png) no-repeat;width:78px;height:78px;margin:20px 15px 0px 10px ;}
#quick_menu li a:hover.qmenu03{background:url(../images/main/qmenu03r.png) no-repeat;width:78px;height:78px;margin:40px 15px 0px 10px ;}
#quick_menu li a:hover.qmenu04{background:url(../images/main/qmenu04r.png) no-repeat;width:78px;height:78px;margin:40px 15px 0px 10px ;}
#quick_menu li a p{margin-top:80px;}


#dash_box02{position:relative;float:left;width:480px;height:270px;border-right:solid 1px #eee;overflow:hidden;}
#tabmenu{margin:0 auto;width:420px;height:32px;overflow:hidden;margin-top:26px;}
#tabmenu ul{width:100%;overflow:hidden;}
#tabmenu li{float:left;width:140px;text-align:center;font-size:14px;background-color:#e0e0e0;}
#tabmenu li a{width:140px;float:left;line-height:32px;height:32px;border-left:solid 1px #fff;color:#555}
#tabmenu li a.tab_on{width:140px;float:left;background-color:#3997f8; color:#fff;border:none;line-height:32px;height:32px;}
#tabmenu li a.tab_on:hover{width:140px;float:left;background-color:#3997f8; color:#fff;border:none;line-height:32px;height:32px;}
#tabmenu li a:hover{width:140px;float:left;background-color:#eee;line-height:32px;height:32px;color:#000}

#all_number{margin:25px 0 0 32px;width:420px;overflow:hidden;}
#all_number ul{width:415px;;overflow:hidden;}
#all_number li{float:left;overflow:hidden;}
#all_number li.alltxt{float:left; width:200px;}
#all_number li.allnum{float:right;width:180px;text-align:right;}

#snumber{margin:20px 0 0 30px;width:415px;overflow:hidden;}
#snumber ul{width:415px;;overflow:hidden;padding:5px 0}
#snumber li{float:left;overflow:hidden;}
#snumber li.snum01{float:left; width:235px;background:url("../images/main/tit_icon01.png")  no-repeat 0 15%;padding-left:22px;}
#snumber li.snum02{float:right;width:155px;text-align:right;background:url("../images/main/tit_icon02.png") 5% 10% no-repeat;}
#snumber li.snum03{float:left; width:235px;background:url("../images/main/tit_icon03.png") no-repeat 0 15%;;padding-left:22px;}
#snumber li.snum04{float:right;width:155px;text-align:right;background:url("../images/main/tit_icon04.png")  5% 10% no-repeat;;}
#snumber li span{padding-right:10px;}

#report{position:absolute ; bottom:0;width:480px;height:48px;background-color:#e5e5e5;overflow:hidden;}
#report ul{margin-left:12px;}
#report li{float:left;overflow:hidden;padding:14px 20px}


#dash_box03{position:relative;float:left; width:400px;height:270px;overflow:hidden;}
#dash_box03 h3{font-size:20px;color:#333;padding:32px 0 0 30px;}
#dash_box03 a.box03_more{position:absolute ; top:27px;right:0px; background:url("../images/main/icon_more.png") no-repeat  right center;
width:70px;font-size:14px}
#all_rtime{position:relative;margin:20px 0 0 30px;float:left;  width:170px;height:170px; 
background:url("../images/main/diagram.png") center center no-repeat ;}
#all_rtime p{padding-top:64px;text-align:center;font-size:18px;line-height:20px;color:#222;}
#all_rtime p span{font-size:18px}
#s_rtime{margin-top:20px;float:right;width:170px}
#rtime_selbox{position:relative;margin:0;background-color: #3997f8; width:170px;}
select.select01 {font-size:14px;color:#fff;padding:10px;background:url("../images/main/sel_arrowicon.png") no-repeat  95% 50%;
width:170px; vertical-align: middle;cursor: pointer;}
.option{background-color:#fff;color:#000;padding:3px 0;}

#rtime_list{width:168px;margin:0; padding:10px 0 ;border:solid 1px #3997f8;overflow:hidden;}
#rtime_list ul{clear:both;margin:0px 16px}
#rtime_list li{float:left;padding: 0;font-size:14px;margin:0;line-height:26px;color:#333}
#rtime_list li.result{float:right;font-weight:bold;color:#000}




/*main_content*/
#board{margin:0 auto; width:1160px; overflow:hidden; }
#board01{position:relative;float:left;width:420px;  overflow:hidden;border-right:solid 1px #eee;margin-top:25px;}
#board01 h3{font-size:20px;font-weight:bold;margin:15px 0;color:#222}
#board01 a.more{position:absolute;top:15px;right:30px;background:url("../images/main/icon_more.png") no-repeat right center;
width:55px;font-size:14px}
#board01 ul{overflow:hidden;width:400px;clear:both;}
#board01 ul li{float:left;overflow:hidden;padding:3px 0;font-size:14px}
#board01 ul li:nth-child(1){background:url("../images/main/icon_dot.png") no-repeat left center;padding-left:10px;width:105px;
text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
#board01 ul li:nth-child(2){width:110px;padding-left:5px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
#board01 ul li:nth-child(3){width:85px;padding-left:5px;overflow:hidden;}
#board01 ul li:nth-child(4){float:right;padding-right:10px;;padding-left:5px;overflow:hidden;}



#board02{position:relative;float:left;width:420px;  overflow:hidden;margin:25px 0 0 25px;}
#board02 h3{font-size:20px;font-weight:bold;margin:15px 0;color:#222}
#board02 a.more{position:absolute;top:15px;right:30px;background:url("../images/main/icon_more.png") no-repeat right center;
width:55px;font-size:14px}
#board02 ul{overflow:hidden;width:400px;clear:both;}
#board02 ul li{float:left;overflow:hidden;padding:3px 0;font-size:14px}
#board02 ul li:nth-child(1){background:url("../images/main/icon_dot.png") no-repeat left center;padding-left:10px;width:105px;
text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
#board02 ul li:nth-child(2){width:110px;padding-left:5px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
#board02 ul li:nth-child(3){width:85px;padding-left:5px;overflow:hidden;}
#board02 ul li:nth-child(4){float:right;padding-right:10px;;padding-left:5px;overflow:hidden;}



#customer{position:relative;float:right;width:290px; height:130px; border:solid 1px #ddd;overflow:hidden;margin-top:30px}
#customer p.cstitle{padding:25px 0 0 25px; }
#customer p.csnum{padding:15px 0 0 25px; }
#customer p.cstime{padding:3px 0 0 25px; }
#customer a.csicon{position:absolute;bottom:22px;right:25px;background:url("../images/main/cs_icon.png") no-repeat right center;
width:65px;height:65px}

#banner{margin:0 auto;text-align:center; width:100%; height:120px; overflow:hidden;margin-top:30px;
background:url("../images/main/bnr_bg.png") no-repeat center center;text-align:center;}

#service_area{position:relative;margin:0 auto; width:1160px;height:100px; overflow:hidden;margin-top:25px;}
#service_area h3{font-size:15px;font-weight:bold;color:#555;text-align:center;}
#service_area ul{overflow:hidden;margin-top:15px}
#service_area ul li{float:left;overflow:hidden;padding-left:30px;}
#service_area ul li.arrow01{float:left;padding:0px;}
#service_area ul li.arrow02{float:right;padding:0px;}

/*footer*/
#footer{ position:relative;margin:0 auto; height:40px;line-height:40px;width:100%; text-align:center;background-color:#404246; ; z-index:1000;
}
#copyright{width:1160px;  margin:0 auto; overflow:hidden;}
#copyright p{ color:#aaa;text-align:center; font-size:12px; overflow:hidden;}





