<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mapper.slight.company.companyMapper">

	<select id="getCompanyInfoSearchYear" resultType="hashMap" parameterType="hashMap">
		<![CDATA[
			SELECT A.YEAR
			 FROM GY_MEMBER A
			 GROUP BY A.YEAR
			 ORDER BY 
			 	A.YEAR DESC
		]]>
	</select>
	
	<select id="getCompanyInfo" resultType="hashMap" parameterType="hashMap">
		<![CDATA[
			SELECT MEMBER_ID, PASSWORD, MEMBER_NAME,
				TRIM(PHONE) AS PHONE,
				TRIM(MOBILE) AS MOBILE,
				EMAIL, B.DATA_CODE_NAME, A.COM_NAME, A.LOGIN_YN,
				AREA, GRADE
			 FROM GY_MEMBER A,GY_CODE B
			WHERE A.GRADE = B.DATA_CODE
			  AND B.CODE_TYPE = '04'
			  AND A.MEMBER_ID = #{member_id}
		]]>
	</select>
	
	<update id="updateCompanyInfo" parameterType="hashMap">
		UPDATE GY_MEMBER
		SET
			PASSWORD = #{password}
			, MEMBER_NAME = #{member_name}
			, COM_NAME = #{com_name}
			, COM_CEO = #{com_ceo}
			, EMAIL = #{email}
			, PHONE = #{phone}
			, MOBILE = #{mobile}
			, AREA = #{area}
			, YEAR = #{year}
		WHERE
			MEMBER_ID = #{member_id}
	</update>
	
	
	<select id="getCompanyRepairCnt" resultType="int" parameterType="hashMap">
		<![CDATA[
			SELECT COUNT(*)
			FROM GY_LIGHT_REPAIR A, GY_LIGHT_REPAIR_PART B 
			WHERE A.REPAIR_NO = B.REPAIR_NO 
			AND B.COMPANY_ID = #{member_id}
			AND TO_CHAR(A.NOTICE_DATE, 'yyyy-mm-dd') between #{sDate} and #{eDate}    
		]]>
			<if test="sch_repair_cd != null and sch_repair_cd != '' ">
				AND A.REPAIR_CD = #{sch_repair_cd}	
			</if>
			<if test="sch_where1 == 1 ">
				AND A.LIGHT_NO LIKE '%'|| #{sch_where3}	||'%'
			</if>
			<if test="sch_where1 == 5 ">
				AND A.NOTICE_NAME LIKE '%'|| #{sch_where3}	||'%'
			</if>
			<if test="sch_where1 eq 4 ">
				AND A.PROGRESS_STATUS LIKE '%'|| #{sch_where2}	||'%'
			</if>
			<if test="sch_where1 == 6 ">
				AND A.DONG LIKE '%'|| #{sch_where2} ||'%'	
			</if>
			<if test="sch_where1 == 2 ">
				AND A.LIGHT_NO LIKE '%'|| #{sch_where2} ||'%'	
			</if>
	</select>
	
	<select id="getCompanyRepairList" resultType="hashMap" parameterType="hashMap">
		<![CDATA[
			  SELECT A.REPAIR_NO
			        , A.REPAIR_NO AS REPAIR_NO2
			        , A.REPAIR_CD
			        , F_GY_DATA_CODE_NM('14', REPAIR_CD)||'/'||F_GY_DATA_CODE_NM('13', LIGHT_GUBUN) AS REPAIR_NAME 
			        , A.PASSWORD
			        , A.LIGHT_NO
			        , A.NOTICE_NAME
			        , A.LOCATION
			        , A.TROUBLE_CD
			        , A.TROUBLE_CD_ETC
			        , A.TROUBLE_DETAIL
			        , CASE WHEN INFORM_METHOD = '01'
							   				THEN MOBILE
							   				WHEN INFORM_METHOD = '02'
							   				THEN PHONE
							   				WHEN INFORM_METHOD = '04'
							   				THEN ''
							   				END AS PHONE
			        , A.EMAIL
			        , A.INFORM_METHOD
			        , A.PROGRESS_STATUS
			        , A.SATI_RATING
			        , A.DONG
			        , A.REMARK
			        , F_GY_DATA_CODE_NM('03', A.PROGRESS_STATUS ) AS PROGRESS_NAME
			        , A.LIGHT_GUBUN
			        , COALESCE(TO_CHAR(A.NOTICE_DATE, 'YYYY.MM.DD'), '') AS NOTICE_DATE
			        , COALESCE(TO_CHAR(TO_DATE(B.REPAIR_DATE, 'YYYYMMDD'), 'YYYY.MM.DD'), '') AS REPAIR_DATE
					FROM GY_LIGHT_REPAIR A, GY_LIGHT_REPAIR_PART B 
					WHERE A.REPAIR_NO = B.REPAIR_NO 
					AND B.COMPANY_ID = #{member_id}
					AND TO_CHAR(A.NOTICE_DATE, 'YYYY-MM-DD') BETWEEN #{sDate} and #{eDate}     
			]]>
					<if test="sch_repair_cd != null and sch_repair_cd != '' ">
						AND A.REPAIR_CD = #{sch_repair_cd}	
					</if>
					<if test="sch_where1 == 1 ">
						AND A.LIGHT_NO LIKE '%'|| #{sch_where3}	||'%'
					</if>
					<if test="sch_where1 == 5 ">
						AND A.NOTICE_NAME LIKE '%'|| #{sch_where3}	||'%'
					</if>
					<if test="sch_where1 eq 4 ">
						AND A.PROGRESS_STATUS LIKE '%'|| #{sch_where2}	||'%'
					</if>
					<if test="sch_where1 == 6 ">
						AND A.DONG LIKE '%'|| #{sch_where2} ||'%'	
					</if>
					<if test="sch_where1 == 2 ">
						AND A.LIGHT_NO LIKE '%'|| #{sch_where2} ||'%'	
					</if>
			<![CDATA[
				ORDER BY A.REPAIR_NO DESC
			
		]]>
	</select>
	
	
	<select id="getCompanyRepairDetail" resultType="hashMap" parameterType="hashMap">
		<![CDATA[
	  	 SELECT A.REPAIR_NO
              , A.REPAIR_PARTS
              , A.REPAIR_DESC
              , A.LIGHT_NO
              , B.LOCATION
              , A.COMPANY_ID
              , COALESCE(B.REPAIR_GUBUN, '') AS REPAIR_GUBUN
              , TO_CHAR(B.NOTICE_DATE, 'YYYY.MM.DD') AS NOTICE_DATE
              , COALESCE(TO_CHAR(TO_DATE(B.REPAIR_DATE, 'YYYY-MM-DD'), 'YYYY.MM.DD'), '') AS REPAIR_DATE
              , B.REPAIR_BIGO
              , COALESCE(TO_CHAR( TO_DATE(A.REPAIR_DATE, 'YYYYMMDD') ,'YYYY.MM.DD'), '') AS REPAIR_DATE_2
              , A.PHOTO1
              , A.PHOTO2
              , A.PHOTO3
              , A.ETC_PHOTO1
              , A.ETC_PHOTO2
              , A.ETC_PHOTO3
              , B.INFORM_METHOD
              , F_GY_DATA_CODE_NM('02',B.INFORM_METHOD ) AS INFORM_NM
              , B.MOBILE
              , B.EMAIL
              , B.PROGRESS_STATUS
              , F_GY_DATA_CODE_NM('03',B.PROGRESS_STATUS ) AS PROGRESS_STATUS_NM
              , B.NOTICE_NAME
              , B.LIGHT_GUBUN
              , B.REPAIR_CD
              , F_GY_DATA_CODE_NM('14',B.REPAIR_CD ) AS REPAIR_NM
              , F_GY_DATA_CODE_NM('01', TROUBLE_CD) AS TROUBLE_NM
              , B.TROUBLE_DETAIL
              , B.PHONE
              , B.REMARK
              , B.REMARK_ETC
              , B.DONG
              , (SELECT COM_NAME FROM GY_MEMBER WHERE MEMBER_ID = A.COMPANY_ID) AS COM_NAME  
              , F_GY_DATA_CODE_NM('10', (select lamp2_cd from gy_light where light_no = a.light_no)) as lamp2_cd_nm 
		      , F_GY_DATA_CODE_NM('11', (select lamp3_cd from gy_light where light_no = a.light_no)) as lamp3_cd_nm   
		      , F_GY_DATA_CODE_NM('08', (select stand_cd from gy_light where light_no = a.light_no)) as stand_cd_nm  
		      , F_GY_DATA_CODE_NM('13', (select onoff_cd from gy_light where light_no = a.light_no)) as onoff_cd_nm 
   		      , COALESCE((SELECT ETC FROM GY_LIGHT WHERE LIGHT_NO = A.LIGHT_NO),'') AS ETC 
    		  , COALESCE((SELECT LAMP1_CD_ETC FROM GY_LIGHT WHERE LIGHT_NO = A.LIGHT_NO),'') AS LAMP1_CD_ETC 
		   FROM GY_LIGHT_REPAIR_PART A, GY_LIGHT_REPAIR B 
		  WHERE A.REPAIR_NO = B.REPAIR_NO 
		    AND A.REPAIR_NO = #{repairNo}
			]]>
	</select>
	
	
	<select id="getCompanyRepairExcelList" resultType="hashMap" parameterType="hashMap">
		<![CDATA[
				SELECT SUBSTR(A.REPAIR_NO,1,6)||'-'||SUBSTR(A.REPAIR_NO,9,2) AS  "접수번호"
			        , F_GY_DATA_CODE_NM('14', REPAIR_CD)||'/'||F_GY_DATA_CODE_NM('13', LIGHT_GUBUN) AS "민원종류"
			        , A.LIGHT_NO AS "관리번호"
			        , A.NOTICE_NAME AS "신고인"
			        , CASE WHEN INFORM_METHOD = '01'
							   				THEN MOBILE
							   				WHEN INFORM_METHOD = '02'
							   				THEN EMAIL
							   				WHEN INFORM_METHOD = '03'
							   				THEN PHONE
							   				WHEN INFORM_METHOD = '04'
							   				THEN ''
							   				END AS "전화번호"
			        , TO_CHAR(A.NOTICE_DATE, 'YYYY.MM.DD') AS "접수일"
			        , TO_CHAR(TO_DATE(B.REPAIR_DATE, 'YYYYMMDD'), 'YYYY.MM.DD') AS "보수일"
			        , F_GY_DATA_CODE_NM('03', PROGRESS_STATUS) AS "처리상황"
					FROM GY_LIGHT_REPAIR A, GY_LIGHT_REPAIR_PART B 
					WHERE A.REPAIR_NO = B.REPAIR_NO 
					AND B.COMPANY_ID = #{member_id}
					AND TO_CHAR(A.NOTICE_DATE, 'YYYY-MM-DD') BETWEEN #{sDate} and #{eDate}     
			]]>
					<if test="repair_cd != null and repair_cd != '' ">
						AND A.REPAIR_CD = #{repair_cd}	
					</if>
					<if test="sch_repair_cd != null and sch_repair_cd != '' ">
						AND A.REPAIR_CD = #{sch_repair_cd}	
					</if>
					<if test="sch_where1 == 1 ">
						AND A.LIGHT_NO LIKE '%'|| #{sch_where3}	||'%'
					</if>
					<if test="sch_where1 == 5 ">
						AND A.NOTICE_NAME LIKE '%'|| #{sch_where3}	||'%'
					</if>
					<if test="sch_where1 eq 4 ">
						AND A.PROGRESS_STATUS LIKE '%'|| #{sch_where2}	||'%'
					</if>
					<if test="sch_where1 == 6 ">
						AND A.DONG LIKE '%'|| #{sch_where2} ||'%'	
					</if>
					<if test="sch_where1 == 2 ">
						AND A.LIGHT_NO LIKE '%'|| #{sch_where2} ||'%'	
					</if>
			<![CDATA[
				ORDER BY A.REPAIR_NO
			
		]]>
	</select>
	
	
	<select id="getMaterialList" parameterType="hashMap" resultType="hashMap">
		SELECT DATA_CODE_NAME||'-'||STANDARD AS DATA_CODE_NAME
						, DATA_CODE
		FROM GY_MATERIAL
		WHERE
			1=1
			AND YEAR = TO_CHAR(TO_DATE(#{noticeDate}, 'YYYY'), 'YYYY') 
			AND COMPANY_ID = #{companyId}
		ORDER BY SUNBUN ASC
	</select>
	
	
	<select id="getMaterialUsedList" parameterType="hashMap" resultType="hashMap">
		SELECT SEQ_NO
						, PART_CD
						, INOUT_CNT
		FROM GY_LIGHT_PART
		WHERE 1=1
			AND COMPANY_ID = #{companyId}
			AND REPAIR_NO = #{repairNo}
			AND INOUT_FLAG = '2'
		ORDER BY SEQ_NO ASC
	</select>
	
	
	<select id="getMaterialUsedMap" parameterType="hashMap" resultType="hashMap">
		<![CDATA[
			SELECT COUNT(*) AS CNT
						   , INOUT_DAY
						   , SEQ_NO
			FROM GY_LIGHT_PART
			WHERE
		]]>
				REPAIR_NO = #{repair_no}
				AND PART_CD = #{part_cd}
				AND INOUT_FLAG = '2'
		<![CDATA[
			GROUP BY SEQ_NO, INOUT_DAY
		]]>
	</select>
	
	
	<select id="getRepairStatus" resultType="hashMap" parameterType="hashMap">
		<![CDATA[
			SELECT PROGRESS_STATUS
				FROM GY_LIGHT_REPAIR A
				WHERE
					A.REPAIR_NO = #{repair_no}	
				ORDER BY A.LIGHT_NO
			]]>
	</select>
	
	
	<update id="updateCompanyRepair" parameterType="hashMap">
		update gy_light_repair 
		set
			progress_status = #{progress_status}
			, repair_gubun = #{repair_gubun}
			, repair_bigo = #{repair_bigo}	
			, repair_date = to_char(now(), 'yyyy-mm-dd')
		WHERE
			repair_no = #{repair_no}
	</update>
	
	
	<update id="updateCompanyRepairPart" parameterType="hashMap">
		update gy_light_repair_part 
		set
			repair_desc = #{repair_desc}
			, photo1 = #{photo1}
			, photo2 = #{photo2}
			, photo3 = #{photo3}
			, last_update = now()
			, repair_date = to_char(now(), 'yyyymmdd')
		WHERE
			repair_no = #{repair_no}
	</update>
	
	
	<update id="updateMaterialUsed" parameterType="hashMap">
		UPDATE GY_LIGHT_PART 
		SET
			INOUT_CNT = #{inout_cnt}
			, LAST_UPDATE = now()
		WHERE
			SEQ_NO = #{seq_no}
			AND INOUT_DAY = #{inout_day}
			AND PART_CD = #{part_cd}
			AND INOUT_FLAG = '2'
			AND REPAIR_NO = #{repair_no}
	</update>
	
	
	<insert id="insertMaterialUsed" parameterType="hashMap">
		<selectKey resultType="hashMap" keyProperty="seq_no,year" order="BEFORE">
				SELECT nextval('gy_light_part_seq'::regclass) as "seq_no"
								, year AS "year"
				FROM GY_MATERIAL
				WHERE 1=1
					   AND DATA_CODE = #{part_cd}
					   AND COMPANY_ID = #{company_id} 
					   AND YEAR = TO_CHAR(TO_DATE(#{repair_date}, 'YYYYMMDD'), 'YYYY')
		</selectKey>
	
		INSERT INTO GY_LIGHT_PART 
		(SEQ_NO, INOUT_DAY, PART_CD, INOUT_FLAG, INOUT_CNT, LAST_UPDATE, REPAIR_NO, COMPANY_ID, YEAR, COMP_NM)
		VALUES
		(#{seq_no}, TO_CHAR(now(), 'YYYYMMDD'), #{part_cd}, '2', #{inout_cnt}, now(), #{repair_no}, #{company_id}, #{year}, #{company_id})
	</insert>
	
	<delete id="deleteMaterialUsed" parameterType="hashMap">
		DELETE FROM GY_LIGHT_PART
		WHERE
			SEQ_NO = #{seq_no}
			AND INOUT_DAY = #{inout_day}
			AND PART_CD = #{part_cd}
			AND INOUT_FLAG = '2'
	</delete>
</mapper>