<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mapper.slight.info.infoMapper">

	<select id="getInfoNoticeListCnt" resultType="int" parameterType="hashMap">
		<![CDATA[
			SELECT COUNT(*)
			FROM GY_REFERENCE A 
			WHERE 1=1
		]]>
	</select>
	
	<select id="getInfoNoticeList" resultType="hashMap" parameterType="hashMap">
		<![CDATA[
		  SELECT A.*
		   FROM GY_REFERENCE A 
		  WHERE 1=1
		  ORDER BY A.NO DESC, A.LAST_UPDATE
			LIMIT #{limit} OFFSET #{offset}
			
		]]>
	</select>
	
	<select id="getInfoNoticeDetail" resultType="hashMap"  parameterType="hashMap">
		<![CDATA[
	  	SELECT A.*
           FROM GY_REFERENCE A 
          WHERE 1=1
          AND NO = ${no}
			]]>
	</select>
	
	<insert id="insertInfoNotice" parameterType="hashMap">
			INSERT INTO GY_REFERENCE
			(
				SUBJECT
				, CONTENT
				, UPD_ID
				, LAST_UPDATE
			)
			VALUES
			(
				#{subject}
				, #{content}
				, #{upd_id}
				, now()
			)
	</insert>
	
	<update id="updateInfoNotice" parameterType="hashMap">
		UPDATE GY_REFERENCE
		SET
			CONTENT = #{content}
			, SUBJECT = #{subject}
			, UPD_ID = #{upd_id}
			, LAST_UPDATE = now()
		WHERE 1=1
		  AND NO = ${no}
	</update>
	
	<update id="deleteInfoNotice" parameterType="hashMap">
		<![CDATA[
			DELETE FROM GY_REFERENCE
			WHERE NO = ${no}
		]]>
	</update>
	
</mapper>