<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mapper.slight.complaint.complaintMapper">
	
	<select id="getComplaintCnt" resultType="int" parameterType="hashMap">
		<![CDATA[
			SELECT COUNT(*)
			FROM GY_LIGHT_REPAIR A
			WHERE
				TO_CHAR(NOTICE_DATE, 'YYYY-MM-DD') BETWEEN #{sDate} AND #{eDate}
		]]>
			<if test="light_gubun != null and light_gubun != '' ">
				AND A.LIGHT_GUBUN = #{light_gubun}	
			</if>
			<if test="repair_cd != null and repair_cd != '' ">
				AND A.REPAIR_CD = #{repair_cd}	
			</if>
			<if test="searchType != null and searchType != '' ">
				<choose>
					<when test="searchType == 1">
						AND NOTICE_NAME LIKE '%'||#{keyword}||'%'
					</when>
					<when test="searchType == 2">
						AND LOCATION LIKE '%'||#{keyword}||'%'
					</when>
					<when test="searchType == 3">
						AND LIGHT_NO LIKE '%'||#{keyword}||'%'
					</when>
					<when test="searchType == 4">
						AND TROUBLE_CD = #{trouble_cd}
					</when>
					<when test="searchType == 5">
						AND PROGRESS_STATUS = #{progress_status}
					</when>
				</choose>
			</if>
	</select>
	
	<select id="getComplaintList" resultType="hashMap" parameterType="hashMap">
		<![CDATA[
			SELECT T1.*
			FROM (
				SELECT A.REPAIR_NO
							   , F_GY_DATA_CODE_NM('14', A.REPAIR_CD)||'/'||F_GY_DATA_CODE_NM('13', A.LIGHT_GUBUN) AS LIGHT_GUBUN
							   , A.LIGHT_NO
							   , A.NOTICE_NAME
							   , CASE WHEN A.inform_method = '03'
							   				THEN PHONE
							   				WHEN A.inform_method = '01'
							   				THEN MOBILE
							   				ELSE COALESCE(COALESCE(MOBILE, PHONE), '')
							   	END AS CONTACT
							   , A.EMAIL
							   , TO_CHAR(A.NOTICE_DATE, 'YYYY.MM.DD') AS NOTICE_DATE
							   , COALESCE(TO_CHAR(TO_DATE(B.REPAIR_DATE, 'YYYYMMDD'), 'YYYY.MM.DD'), '') AS REPAIR_DATE
							   , F_GY_DATA_CODE_NM('01', A.TROUBLE_CD) AS TROUBLE_NM
							   , A.PROGRESS_STATUS
							   , A.LOCATION
					FROM GY_LIGHT_REPAIR A
					LEFT OUTER JOIN GY_LIGHT_REPAIR_PART B 
					ON A.REPAIR_NO = B.REPAIR_NO
				WHERE
					1=1
			]]>
					<if test="sDate != null and sDate != '' and eDate != null and eDate != '' ">
						AND TO_CHAR(A.NOTICE_DATE, 'YYYY-MM-DD') BETWEEN #{sDate} AND #{eDate}
					</if>
					<if test="light_gubun != null and light_gubun != '' ">
						AND A.LIGHT_GUBUN = #{light_gubun}	
					</if>
					<if test="repair_cd != null and repair_cd != '' ">
						AND A.REPAIR_CD = #{repair_cd}	
					</if>
					<if test="searchType != null and searchType != '' ">
						<choose>
							<when test="searchType == 1">
								AND NOTICE_NAME LIKE '%'||#{keyword}||'%'
							</when>
							<when test="searchType == 2">
								AND LOCATION LIKE '%'||#{keyword}||'%'
							</when>
							<when test="searchType == 3">
								AND LIGHT_NO LIKE '%'||#{keyword}||'%'
							</when>
							<when test="searchType == 4">
								AND TROUBLE_CD = #{trouble_cd}
							</when>
							<when test="searchType == 5">
								AND PROGRESS_STATUS = #{progress_status}
							</when>
						</choose>
					</if>
			<![CDATA[
				ORDER BY A.REPAIR_NO DESC
			) T1
			LIMIT #{limit} OFFSET #{offset}
		]]>
	</select>
	
	<select id="getComplaintStatusCnt" resultType="hashMap" parameterType="hashMap">
		<![CDATA[
			SELECT COUNT(*)
							, PROGRESS_STATUS
							, TO_CHAR(NOTICE_DATE, 'YYYYMMDD') AS NOTICE_DATE
			FROM GY_LIGHT_REPAIR A
			GROUP BY PROGRESS_STATUS, TO_CHAR(NOTICE_DATE, 'YYYYMMDD')
		]]>
	</select>
	
	<select id="getComplaintDetail" resultType="hashMap" parameterType="hashMap">
		<![CDATA[
			SELECT A.REPAIR_NO
						   , F_GY_DATA_CODE_NM('14', REPAIR_CD) AS LIGHT_GUBUN
						   , A.REPAIR_CD
						   , A.LIGHT_NO
						   , A.NOTICE_NAME
						   , A.PASSWORD
						   , A.PHONE
						   , A.MOBILE
						   , COALESCE(CASE WHEN inform_method = '03'
						   				THEN PHONE
						   				WHEN inform_method = '01'
						   				THEN MOBILE
						   				ELSE 
						   					COALESCE(COALESCE(MOBILE, PHONE), '')
						   	END, '') AS CONTACT
						   , TO_CHAR(A.NOTICE_DATE, 'YYYY.MM.DD') AS NOTICE_DATE
						   , COALESCE(TO_CHAR(TO_DATE(B.REPAIR_DATE, 'YYYYMMDD'), 'YYYY.MM.DD'), '') AS REPAIR_DATE
						   , F_GY_DATA_CODE_NM('01', A.TROUBLE_CD) AS TROUBLE_NM
						   , A.TROUBLE_CD
						   , A.EMAIL
						   , A.TROUBLE_DETAIL
						   , A.PROGRESS_STATUS
						   , F_GY_DATA_CODE_NM('03', A.PROGRESS_STATUS) AS PROGRESS_NAME
						   , A.LOCATION
						   , A.INFORM_METHOD
						   , F_GY_DATA_CODE_NM('02', inform_method) AS INFORM_METHOD_NM
				FROM GY_LIGHT_REPAIR A
							LEFT OUTER JOIN GY_LIGHT_REPAIR_PART B 
							ON A.REPAIR_NO = B.REPAIR_NO
				WHERE
					A.REPAIR_NO = #{repairNo}	
				ORDER BY A.LIGHT_NO
			]]>
	</select>
	
	<select id="getComplaintStatus" resultType="hashMap" parameterType="hashMap">
		<![CDATA[
			SELECT PROGRESS_STATUS
				FROM GY_LIGHT_REPAIR A
				WHERE
					A.REPAIR_NO = #{repair_no}	
				ORDER BY A.LIGHT_NO
			]]>
	</select>
	
	<select id="getComplaintRoleChk" resultType="String" parameterType="hashMap">
		SELECT CASE 
							WHEN A.PASSWORD = #{password}
							THEN 'Y'
							ELSE 'N'
						END AS 	"PW_CHK"
		FROM GY_LIGHT_REPAIR A
		WHERE
			A.REPAIR_NO = #{repairNo}	
	</select>
	
	<update id="updateComplaint" parameterType="hashMap">
		UPDATE GY_LIGHT_REPAIR
		SET
			PASSWORD = #{password}
			, NOTICE_NAME = #{notice_name}
			, LOCATION = #{address}
			, PHONE = #{phone}
			, MOBILE = #{mobile}
			, EMAIL = #{email}
			, TROUBLE_CD = #{trouble_cd} 
			, TROUBLE_DETAIL = #{trouble_detail}
			, INFORM_METHOD = #{inform_method}
			, MODIFY_DATE = NOW()
		WHERE
			REPAIR_NO = #{repair_no}
			AND LIGHT_NO = #{light_no}
	</update>
	
	<delete id="deleteComplaint" parameterType="hashMap">
		DELETE FROM GY_LIGHT_REPAIR
		WHERE REPAIR_NO = #{repair_no}
	</delete>
</mapper>